@model ShopPromotion
@using Sharp.Common
@{
    ViewBag.Title = "编辑促销活动";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())


    @Html.ValidationSummary()
    @HelperExtend.DropDownListCardEnum("ActionType", "促销规则", (int)Model.ActionType, typeof(ActionType), change: "OnChangeRule")
    @HelperExtend.RadioGroup("ActionPlatform", "对应平台", vals: typeof(ActionPlatform).GetEnumVal(),
                  texts: typeof(ActionPlatform).GetEnumNamesStr(), defaultval: (int)Model.ActionPlatform, hint: "")

    @HelperExtend.RadioGroup("ActionEvent", "触发时机", vals: typeof(ActionEvent).GetEnumVal(),
                  texts: typeof(ActionEvent).GetEnumNamesStr(), defaultval: (int)Model.ActionEvent, hint: "其中注册、评价、评论的时候不能执行送商品、打折扣、免运费的规则")

    @HelperExtend.Number("BuyCount", "购买指定数量", defaultval: Model.BuyCount, hint: "可以设置最低购买商品数量时才满足促销规则（0时不控制）")
    @HelperExtend.Number("MinPrice", "限制最低金额", defaultval: Model.MinPrice, decimalDigits: 2, hint: "也可以通过设置最低金额的方式来限制促销方式，和指定数量不要都使用（0时不控制）")
    @Html.Partial("_HelpEditProduct", new HelpEditShopProductModel()
{
    DisplayField = "HandProductName",
    DisplayFieldValue = Model.HandProductName,
    Lable = "赠送商品",
    ValueField = "HandsaleProductId",
    ValueFieldValue = Model.HandsaleProductId,
    OnCreateCtrol= "OnChangeRule",
})

    @Html.Partial("_HelpEdit", new HelpEditModel()
{
    DisplayField = "HandSKUCode",
    DisplayFieldValue = Model.HandSKUCode,
    Hint = "如果商品有启用规格，则必选",
    Lable = "赠送商品SKU",
    ValueField = "HandsaleProductSKUID",
    OnCreateCtrol = "OnChangeRule",
    ValueFieldValue = Model.HandsaleProductSKUID,
    Columns = @"[
                   { text: 'SKU编号', dataField: 'SKU',   width: 100 },
                    { text: '规格', dataField: 'AttriVal',  width:  300  },
                   { text: '市场价', dataField: 'MarketPrice',  width: 80 },
                   { text: '销售价', dataField: 'SalePrice',  width: 80 }  ]",
    DataFields = @"[

               { name: 'SkuID', type: 'string' },



               { name: 'SKU', type: 'string' },

               { name: 'AttriVal', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }
                            ]",
    HelpTitle = "选择商品SKU",
    ReturnDisplayField = "SKU",
    ReturnValueField = "SkuID",
    SearchField = "SKUName",
    Url = Url.RouteUrl("ApiWithWeb", new { controller = "ShopProductApi", action = "GetSkuByProductID" }),
    OtherSerchFieldFunction = "GetProductCondition",

    OtherSet = "{ data:{root: 'data'}}",

})






    @Html.Partial("_HelpEditCoupon", new HelpEditCouponModel()
{
    DisplayField = "CouponName",
    DisplayFieldValue = Model.CouponName,
    Hint = "",
    Lable = "赠送优惠券",
    ValueField = "CouponID",
    ValueFieldValue = Model.CouponID,
    OnCreateCtrol = "OnChangeRule",
})



    @HelperExtend.Number("HandsaleCount", "赠送数量", defaultval: Model.HandsaleCount, hint: "如果是打折促销，这里请填写折扣，最大是10折，最小1折")

    @HelperExtend.Number("HandsaleMaxCount", "最多赠送数量", defaultval: Model.HandsaleMaxCount, hint: "在赠送优惠券和赠送商品时，可以设置一个数字，表示可以赠送多少个会员（例如前5名），直到赠完为止")
     
    @HelperExtend.DateTime("StartDate", "活动开始时间", defaultval: Model.StartDate, hint: "")

    @HelperExtend.DateTime("EndDate", "活动结束时间", defaultval: Model.EndDate, hint: "")
    @HelperExtend.RadioGroup("ActionStatus", "活动状态", vals: typeof(AcitivyStatus).GetEnumVal(),
                  texts: typeof(AcitivyStatus).GetEnumNamesStr(), defaultval: (int)Model.ActionStatus, hint: "")
    
    
    @Html.Partial("_HelpEditProductCategory", new HelpEditShopProductCategory()
{
    DisplayField = "BuyCategoryName",
    DisplayFieldValue = Model.BuyCategoryName,
    Hint = "不选择商品分类，就适合全部商品",
    IsMutiSelect = false,
    Lable = "商品分类",
    ValueField = "BuyCategoryId",
    ValueFieldValue = Model.BuyCategoryId
})
    @Html.Partial("_HelpEditProduct", new HelpEditShopProductModel()
{
    DisplayField = "BuyProductName",
    DisplayFieldValue = Model.BuyProductName,
    Hint = "不选择商品，就适合当前分类下所有商品",
    Lable = "商品",
    ValueField = "BuyProductId",
    ValueFieldValue = Model.BuyProductId
})

    @Html.Partial("_HelpEdit", new HelpEditModel()
{
    DisplayField = "BuySKUCode",
    DisplayFieldValue = Model.BuySKUCode,
    Hint = "不选择SKU,就适合当前商品下所有规格类型商品",
    Lable = "商品SKU",
    ValueField = "BuySKUID",
    ValueFieldValue = Model.BuySKUID,
    Columns = @"[
                   { text: 'SKU编号', dataField: 'SKU',   width: 100 },
                    { text: '规格', dataField: 'AttriVal',  width:  300  },
                   { text: '市场价', dataField: 'MarketPrice',  width: 80 },
                   { text: '销售价', dataField: 'SalePrice',  width: 80 }  ]",
    DataFields = @"[

               { name: 'SkuID', type: 'string' },



               { name: 'SKU', type: 'string' },

               { name: 'AttriVal', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }
                            ]",
    HelpTitle = "选择商品SKU",
    ReturnDisplayField = "SKU",
    ReturnValueField = "SkuID",
    SearchField = "SKUName",
    Url = Url.RouteUrl("ApiWithWeb", new { controller = "ShopProductApi", action = "GetSkuByProductID" }),
    OtherSerchFieldFunction = "GetBuyProductCondition",
    OtherSet = "{ data:{root: 'data'}}",

})




    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note, hint: "")


</div>
@section  scripts{


    <script type="text/javascript">
        var loadHelpCount=0;
        function GetProductCondition(data) {

            data.id = $('#HandsaleProductId').val();

        }
        function GetBuyProductCondition(data) {

            data.id = $('#BuyProductId').val();

        }
        function OnChangeRule(event) {
            if (loadHelpCount<3) {
                loadHelpCount++;
                return;
            }
            var label = -1;
            if (!event) {
                label = @((int)Model.ActionType);

            } else {
                var args = event.args;
                if (args) {
                    label = args.item.value * 1;
                }
            }
             $("#HandsaleProductId").closest("dl").hide();
            $("#HandsaleProductSKUID").closest("dl").hide();
            $("#CouponID").closest("dl").hide();
            $("#HandsaleCount").closest("dl").show();
            $("#HandsaleMaxCount").closest("dl").show();
            
            switch (label) {
                case 0://送优惠券
                    $("#CouponID").closest("dl").show();
                    break;
                case 1://送积分
                    break;
                case 2://送现金
                    break;
                case 3://送商品
                  
                    $("#HandsaleProductId").closest("dl").show()
                    $("#HandsaleProductSKUID").closest("dl").show();
                    break;
                case 4://打折扣
                    break;
                case 5://免运费
                    $("#HandsaleCount").closest("dl").hide();
                    $("#HandsaleMaxCount").closest("dl").hide();
                    break;
                case 6://送经验值
                    break;
                default:

            }

        }
        $(function () {

             
            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "ActionType": {
                        required: true
                    }

                },
                messages: {
                    ActionType: {
                        required: "请选择促销规则"
                    }
                },
                errorPlacement: errorPlace,
                showErrors: function (errorMap, errorList) {
                    $('#jqxLoader').jqxLoader('close');
                    this.defaultShowErrors();
                }

            });
        })
    </script>





}
