 @using EasyCms.Business
@using EasyCms.Model
@{
    ViewBag.Title = EasyCms.CmsSessionExtend.WebSite.Name;
    AdPositon position = null;
    List<AdManage> adList = new AdManageBll().GetAdByPositon("01", 0, ref position);

    <style type="text/css">
        .photo {
            width: @(position.Width + "px");
            height:@(position.Height + "px");
            background-color: #000;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $('#photoGallery').jqxScrollView({ width: @position.Width, height:  @position.Height, buttonsOffset: [0, 0], theme: "metro", slideShow: true });
        });
    </script>
    <div id="secnav" style='height: 430px;'>
        <div id="photoGallery" style='position:absolute;left:220px;top:10px;width: @(position.Width + "px");height:@(position.Height + "px");'>
            @foreach (AdManage ad in adList)
            {
                <div><a href="@ad.LinkUrl"><img class="photo" alt="@(string.IsNullOrWhiteSpace(ad.Note)?ad.Name:ad.Note)" src="@ad.AdImgUrl"></a></div>

            }
         </div>
       @{
           List<AdManage> rightAdList = new AdManageBll().GetAdByPositon("7", 2, ref position);
           for (int ii = 0; ii < 2; ii++)
           {
               AdManage at = rightAdList[ii];
               if (ii == 0)
               {
                <a href="@at.LinkUrl"><img style='position:absolute;right:0px;top:10px;width: 230px;height: 170px' src="@at.AdImgUrl" /></a>
               }
               else { <a href="@at.LinkUrl">
            <img style='position:absolute;right:0px;top:200px;width: 230px;height: 218px' src="@at.AdImgUrl" />
        </a> }
           }

    }

</div>
}
 
<div class='lazyblock'>
    <div id="guessyou">
        <div class="mt"><h2>猜你喜欢</h2><a href="javascript:;" class="extra" clstag="0">换一批</a></div>
        <div class='mc'>
            <div class="spacer"><i></i></div>
            <ul>
                
                <script type="text/javascript">
                    $(function(){

                        $.getJSON("@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetProductsByStation" })"+"?StationMode=1&pagesize=6",
                            function(data){
                                $("#guessyou").find("ul").empty();
                                for (var i = 0; i < data.data.Data.length; i++)
                                {
                                    var item=data.data.Data[i];

                                    $("#guessyou").find("ul").append("<li class='fore"+i+"'>  <div class='p-img'> <a width='130' height='130' href='@Url.Action("index", "Product")"+"/"+item.ID+"' target='_blank'>  <img src='"
                                        +item.FilePath+"' width='130' height='130' title='"+item.Name+"'> </a></div> <div class='p-info'><div class='p-name'><a href='@Url.Action("index", "Product")"+"/"+item.ID+"' target='_blank'>"
                            +item.Name+"</a></div><div class='p-price'>惊喜价<i>¥</i>"+item.SalePrice
                            +" </div></div </li>");
                                }

      }); });

                </script>
               
                
            
            </ul>
        </div>
    </div>
</div>
@{

        List<ShopCategory> calist = new ShopCategoryBll().GetShowIndex("");
        int i = 0;
        foreach (ShopCategory item in calist)
        {
            i++;
        <div class='floor' value="@item.ID" >
            <div class="title mt mg-10">
                <h2><i>@(i+"F")</i>@item.Name</h2>

            </div>
            <div style="border:1px solid #DDD;overflow: hidden;height: 448px;">
                <div class='leftads'>
                    <a href="@(Url.Action("Index","Category",new { id=item.ID}))"><img src="@item.LogoUrl" width="211" height="448"></a>
                </div>
                <div class='midads' value="@item.ID">
                    <ul>
                    
                    </ul>
                </div>
                <div class='rightads'>
                    <div class="mt"><h2>热门商品</h2> </div>
                    <ul class="ranklist" value="@item.ID">
                     </ul>
                </div>
            </div>
        </div>
    }

}
<script type="text/javascript">
    $(function(){
        $(".midads").each(function(i){
            var cateogry= $(this);
            var catid= $(this).attr('value');
            cateogry.find("ul").empty();
            $.getJSON("@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetRecomendByCategory" })"+"/"+catid,
           function(data){

               for (var i = 0; i < data.data.Data.length; i++)
               {
                   var item=data.data.Data[i];

                   cateogry.find("ul").append("<li class='fore"+i+"'>  <div class='p-img'> <a width='130' height='130' href='@Url.Action("index", "Product")"+"/"+item.ID+"' target='_blank'>  <img src='"
                       +item.FilePath+"' width='125' height='125' title='"+item.Name+"'> </a></div> <div class='p-info'><div class='p-name'><a href='@Url.Action("index", "Product")"+"/"+item.ID+"' target='_blank'>"
           +item.Name+"</a></div><div class='p-price'><i>¥</i>"+item.SalePrice
           +" </div></div </li>");
               }});});

        $(".ranklist").each(function(i){
            var cateogry= $(this);
            var catid= $(this).attr('value');
            cateogry.empty();
            $.getJSON("@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetHotProductsByCategoryid" })"+"/"+catid,
                   function(data){

                       for (var i = 0; i < data.data.Data.length; i++)
                       {
                           var item=data.data.Data[i];

                           cateogry.append("<li class='current'><a href='@Url.Action("index", "Product")"+"/"+item.ID+"'><img src='"+item.FilePath+"' width='58' height='58' title='热度：4491'></a> <a href='@Url.Action("index", "Product")"+"/"+item.ID+"'>"+item.Name+"</a> <b>￥"+item.SalePrice
                         +"</b></li>");
                       }
                   });
        });


    });

</script> 

 