@model SendCoupon
@{
    ViewBag.Title = "编辑优惠券发放";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}
@using EasyCms.Model
@using Sharp.Common
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())
    @Html.ValidationSummary()
    @Html.Partial("_HelpEditCoupon", new HelpEditCouponModel()
{
    DisplayField = "CouponName",
    DisplayFieldValue = Model.CouponName,
    Hint = "",
    Lable = "优惠券",
    ValueField = "CouponID",
    ValueFieldValue = Model.CouponID
})
     @HelperExtend.Number("SendCount", "发放个数", defaultval: Model.SendCount, hint: "")
    @HelperExtend.RadioGroup("SendType", "发放类型", typeof(SendCouponType).GetEnumVal(),
                  typeof(SendCouponType).GetEnumNamesStr(), defaultval: Model.SendType, hint: "")
    @HelperExtend.DropDownList("AccountOrder", "对应会员等级", defaultval: Model.AccountOrder, hint: "", downInfo: new DropDownListInfo { DisplayMember = "Name", ValueMember = "ID", Url = Url.Action("GetListForSelecte", "RangeDict") })

    @HelperExtend.DateTime("StartRegistTime", "开始注册时间", defaultval: Model.StartRegistTime,   hint: "开始和截止时间至少选择一个")

    @HelperExtend.DateTime("EndRegistTime", "截止注册时间", defaultval: Model.EndRegistTime, hint: "开始和截止时间至少选择一个")
    @HelperExtend.Number("MinBuyCount", "最少购买次数", defaultval: Model.MinBuyCount, hint: "0标示不限制，和最多次数至少选择其中一个")
    @HelperExtend.Number("MaxBuyCount", "最多购买次数", defaultval: Model.MaxBuyCount, hint: "0标示不限制，和最少次数至少选择其中一个") 
    @HelperExtend.Lable(Model.Status.ToString(), "状态")
    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note)
</div>

@section  scripts{

    <script type="text/javascript">


        function InnitCouponFunc() {
            var source =
          {
              datatype: "json",
              cache: false,
              datafields: [

      { name: 'ID', type: 'string' },

      { name: 'Name', type: 'string' },
        { name: 'JE', type: 'string' },
      { name: 'CouponTypeName', type: 'string' },
       { name: 'FilePath', type: 'string' },
      { name: 'ClassName', type: 'string' },
       { name: 'QxLx', type: 'string' },
      { name: 'StartDate', type: 'string' },
       { name: 'EndDate', type: 'string' },
      { name: 'QXTS', type: 'string' }
              ],
              beforeprocessing: function (data) {
                  source.totalrecords = data.total;

              },
              root: 'data',
              id: 'ID',
              url: "@Url.RouteUrl("ApiWithWeb", new { controller = "CouponApi", action = "GetCoupon" })"
          };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#CouponGrid").jqxGrid(
            {
                width: "95%",
                autoheight: true,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                altrows: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: function () { pagerrenderer("#CouponGrid") },
                pageSize: 20,
                pageable: true,
                columns: [

        { text: '名称', dataField: 'Name', align: "center", cellsalign: "center", type: 'string', width: '300' },

        { text: '面值', dataField: 'JE', align: "center", cellsalign: "center", type: 'string', width: 80 },
         { text: '获取方式', dataField: 'ClassName', align: "center", cellsalign: "center", type: 'string', width: 80 },
        { text: '类型', dataField: 'CouponTypeName', align: "center", cellsalign: "center", type: 'string', width: 80 },

                { text: '有效期类型', dataField: 'QxLx', align: "center", cellsalign: "center", type: 'string', width: 80 },
            { text: '开始日期', dataField: 'StartDate', align: "center", cellsalign: "center", type: 'string', width: 80 },
                { text: '截止日期', dataField: 'EndDate', align: "center", cellsalign: "center", type: 'string', width: 80 },
                    { text: '期限天数', dataField: 'QXTS', align: "center", cellsalign: "center", type: 'string', width: 80 }
                ]
            });

        }
        function onCouponOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#CouponName").val(data.Name);
                $("#CouponID").val(data.ID);
            }
        }

    </script>
    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Code").val(); },
                                IsCode: true
                            }
                        }
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符"),
                        remote: "同级分类下编号重复"
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "同级分类下名称重复"
                    }
                },
                errorPlacement: errorPlace,
                showErrors: function (errorMap, errorList) {
                    $('#jqxLoader').jqxLoader('close');
                    this.defaultShowErrors();
                }
            });
        })
    </script>
    <script type="text/javascript">

        function ChangeSendType() {
            var val = $("input[name='SendType']:checked").val();

            $("#AccountOrder").closest("dl").hide();
            $("#StartRegistTime").closest("dl").hide();
            $("#EndRegistTime").closest("dl").hide();
            $("#MaxBuyCount").closest("dl").hide();
            $("#MinBuyCount").closest("dl").hide();
            /*"0,1,2,3,4,5", "全员发放,用户等级,注册时间,购买次数 "*/
            switch (val) {
                case "0": break;
                case "1":
                    $("#AccountOrder").closest("dl").show();
                    break;
                case "2":
                    $("#StartRegistTime").closest("dl").show();
                    $("#EndRegistTime").closest("dl").show(); break;
                case "3":
                    $("#MaxBuyCount").closest("dl").show();
                    $("#MinBuyCount").closest("dl").show();
                    break;
            }
        }
        $(function () {
            $("input[name='SendType']").closest(".multi-radio").find("a").on("click", function (d) {
                ChangeSendType();

            })
            ChangeSendType();

        });

    </script>
}
