@model ShopPromotion
@{
    ViewBag.Title = "编辑促销活动";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>
                <li><a href="javascript:;">适用商品</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())


    @Html.ValidationSummary()

    @HelperExtend.DropDownList("RuleID", "促销规则", defaultval: Model.RuleID, downInfo: new DropDownListInfo()
{
    Url = Url.Action("GetListForSelecte", "RedeemRules", new { area = "Admin" }),
    change = "OnChangeRule"
})



    @HelperExtend.TextBox("BuyCount", "购买指定数量", defaultval: Model.BuyCount, hint: "")
    @HelperExtend.HelpEdit("HandsaleProductId", "HandProductName", "赠送商品", defaultVal: Model.HandsaleProductId, defaultText: Model.HandProductName, hint: "", dialogTitle: "选择商品", InnitFunc: "InnitHandShopFunc", DataControlID: "HandshopGrid", onOk: "onHandSpOk")


    @HelperExtend.HelpEdit("HandsaleProductSKUID", "HandSKUCode", "赠送商品SKU", defaultVal: Model.HandsaleProductSKUID, defaultText: Model.HandSKUCode, hint: "如果商品有启用规格，则必选", dialogTitle: "选择商品SKU", InnitFunc: "InnitHandSKUFunc", DataControlID: "HandSKUGrid", onOk: "onHandSkuOk", OnBefore: "OnBeforeHandSku")

    @HelperExtend.HelpEdit("CouponID", "CouponName", "赠送优惠券", defaultVal: Model.CouponID, defaultText: Model.CouponName, hint: "", dialogTitle: "选择赠送优惠券", InnitFunc: "InnitCouponFunc", DataControlID: "CouponGrid", onOk: "onCouponOk")


    @HelperExtend.TextBox("HandsaleMaxCount", "最多赠送数量", defaultval: Model.HandsaleMaxCount, hint: "")

    @HelperExtend.TextBox("HandsaleCount", "赠送数量", defaultval: Model.HandsaleCount, hint: "")

    @HelperExtend.TextBox("MinPrice", "限制最低金额", defaultval: Model.MinPrice, hint: "")

    @HelperExtend.TextBox("MaxPrice", "限制最高金额", defaultval: Model.MaxPrice, hint: "")

    @HelperExtend.DateTime("StartDate", "活动开始时间", defaultval: Model.StartDate, hint: "")

    @HelperExtend.DateTime("EndDate", "活动结束时间", defaultval: Model.EndDate, hint: "")

    @HelperExtend.RadioGroup("IsEnable", "是否启用", "false,true", "否,是", defaultval: Model.IsEnable)


</div>
<div class="tab-content" style="display:none">


    @HelperExtend.HelpEdit("BuyCategoryId", "BuyCategoryName", "商品分类", defaultVal: Model.BuyCategoryId, defaultText: Model.BuyCategoryName, hint: "不选择商品分类，就适合全部商品", dialogTitle: "选择商品分类", InnitFunc: "InnitFunc", DataControlID: "treeGrid", IsTree: true, onOk: "onOk")

    @HelperExtend.HelpEdit("BuyProductId", "BuyProductName", "商品", defaultVal: Model.BuyProductId, defaultText: Model.BuyProductName, hint: "不选择商品，就适合当前分类下所有商品", dialogTitle: "选择商品", InnitFunc: "InnitShopFunc", DataControlID: "shopGrid", onOk: "onSpOk", OnBefore: "OnBeforeSp")


    @HelperExtend.HelpEdit("BuySKUID", "BuySKUCode", "商品SKU", defaultVal: Model.BuySKUID, defaultText: Model.BuySKUCode, hint: "不选择SKU,就适合当前商品下所有规格类型商品", dialogTitle: "选择商品SKU", InnitFunc: "InnitSKUFunc", DataControlID: "SKUGrid", onOk: "onSkuOk", OnBefore: "OnBeforeSku")





    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note, hint: "")


</div>
@section  scripts{


    <script type="text/javascript">

        function OnChangeRule(event) {
            var index;
            if (!event) {
                index = $('#DropDownListRuleID').jqxDropDownList('getSelectedIndex');
            } else {
                index = args.index;
            }

            var source = $('#DropDownListRuleID').jqxDropDownList('source');
            var dataarray = source.loadedData.Rows;
            var data = dataarray[args.index];
            var rtype = data.RuleTypeName;
            $("#HandsaleProductId").closest("dl").hide();
            $("#HandsaleProductSKUID").closest("dl").hide();
            $("#CouponID").closest("dl").hide();
            $("#HandsaleCount").closest("dl").show();
            $("#HandsaleMaxCount").closest("dl").show();
            if (rtype.indexOf("送优惠券") > -1) {
                $("#CouponID").closest("dl").show();

            } else if (rtype.indexOf("免运费") > -1 || rtype.indexOf("包邮") > -1) {
                $("#HandsaleCount").closest("dl").hide();
                $("#HandsaleMaxCount").closest("dl").hide();

            } else if (rtype.indexOf("赠品") > -1) {
                $("#HandsaleProductId").closest("dl").show();
                $("#HandsaleProductSKUID").closest("dl").show();

            } else if (rtype.indexOf("送积分") > -1) {

            }

        }
        $(function () {

            OnChangeRule();
            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "RuleID": {
                        required: true
                    }

                },
                messages: {
                    RuleID: {
                        required: "请选择促销规则"
                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });
        })
    </script>

    <script type="text/javascript">


        $(function () {

            if ("@TempData.ContainsKey("IsSuccess").ToString().ToLower()" == "true") {
                SucessMsg("@TempData["IsSuccess"]");
            }


        });
    </script>
    @Html.Partial("_Paging")
    <script type="text/javascript">
        function OnBeforeSp() {
            var categorid = $("#BuyCategoryId").val();
            if (!categorid) {
                ErrorMsg("请先选择商品分类");
                return false;
            }
            var oldcategorid = $('#shopGrid').data("BuyCategoryId");  // undefined

            if (oldcategorid && oldcategorid != categorid) {
                $('#shopGrid').jqxGrid('updatebounddata');
            }
            $('#shopGrid').data("BuyCategoryId", categorid);
            return true;
        }
        function OnBeforeSku() {
            var categorid = $("#BuyProductId").val();
            if (!categorid) {
                ErrorMsg("请先选择商品");
                return false;
            }


            var oldcategorid = $('#SKUGrid').data("BuyCategoryId");  // undefined

            if (oldcategorid && oldcategorid != categorid) {
                $('#SKUGrid').jqxGrid('updatebounddata');
            }
            $('#SKUGrid').data("BuyCategoryId", categorid);
            return true;
            return true;
        }

        function InnitFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'ID', type: 'string' },

               { name: 'ParentID', type: 'string' },

               { name: 'Code', type: 'string' },

               { name: 'Name', type: 'string' }
                            ],
                            timeout: 10000,
                            hierarchy:
                            {
                                keyDataField: { name: 'ID' },
                                parentDataField: { name: 'ParentID' }
                            },
                            id: 'ID',
                            root: 'Rows',
                            url: "@Url.Action("GetListForSelecte", "ShopCategory", new { area = "Admin" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source);


            $("#treeGrid").jqxTreeGrid(
                       {
                           width: "95%",
                           height: "95%",
                           source: dataAdapter,
                           columns: [
             { text: '编码', dataField: 'Code', type: 'string', width: 200 },
             { text: '名称', dataField: 'Name', type: 'string', width: 200 }
                           ]
                       });
        }
        function onOk(data) {
            if (data.length == 1) {


                $("#BuyCategoryName").val(data[0].Name);
                $("#BuyCategoryId").val(data[0].ID);

            } else { ErrorMsg("请选择一条数据"); }
        }



        function InnitShopFunc() {
            var source =
          {
              datatype: "json",
              cache: false,
              datafields: [

      { name: 'ID', type: 'string' },
      { name: 'Code', type: 'string' },
      { name: 'Name', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }

              ],
              beforeprocessing: function (data) {
                  source.totalrecords = data.total;

              },
              root: 'Data',
              id: 'ID',
              url: "@Url.HttpRouteUrl("ApiWithWeb", new { controller = "APP", action = "GetProductsByCategory" })"
          };

            var dataAdapter = new $.jqx.dataAdapter(source,
                   {

                       formatData: function (data) {

                           $.extend(data, {
                               id: $("#BuyCategoryId").val()
                           });
                           return data;
                       }

                   }

               );
            $("#shopGrid").jqxGrid(
            {
                width: "95%",
                autoheight: true,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                altrows: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: function () { pagerrenderer("#shopGrid") },
                pageSize: 20,
                pageable: true,
                columns: [
        { text: '编号', dataField: 'Code', align: "center", cellsalign: "center", type: 'string', width: 100 },

        { text: '名称', dataField: 'Name', align: "center", cellsalign: "center", type: 'string', width: '300' },

        { text: '市场价', dataField: 'MarketPrice', align: "center", cellsalign: "center", type: 'string', width: 80 },

        { text: '销售价', dataField: 'SalePrice', align: "center", cellsalign: "center", type: 'string', width: 80 }



                ]
            });

        }
        function onSpOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#BuyProductName").val(data.Name);
                $("#BuyProductId").val(data.ID);
            }
        }



        function InnitSKUFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'SkuID', type: 'string' },



               { name: 'SKU', type: 'string' },

               { name: 'AttriVal', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }
                            ],

                            root: 'data',
                            id: 'SkuID',
                            url: "@Url.HttpRouteUrl("ApiWithWeb", new { controller = "ShopProductApi", action = "GetSkuByProductID" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source,
                     {

                         formatData: function (data) {

                             $.extend(data, {
                                 id: $("#BuyProductId").val()
                             });
                             return data;
                         }

                     }

                 );

            $("#SKUGrid").jqxGrid(
                       {
                           width: "95%",
                           autoheight: true,
                           source: dataAdapter,
                           columnsresize: true,
                           virtualmode: true,
                           altrows: true,
                           rendergridrows: function (params) {
                               return params.data;
                           },
                           pagerrenderer: function () { pagerrenderer("#SKUGrid") },
                           pageSize: 20,
                           pageable: true,
                           columns: [
                   { text: 'SKU编号', dataField: 'SKU', align: "center", cellsalign: "center", type: 'string', width: 100 },


                    { text: '规格', dataField: 'AttriVal', align: "center", cellsalign: "center", type: 'string', width: '300' },

                   { text: '市场价', dataField: 'MarketPrice', align: "center", cellsalign: "center", type: 'string', width: 80 },

                   { text: '销售价', dataField: 'SalePrice', align: "center", cellsalign: "center", type: 'string', width: 80 }



                           ]
                       });
        }
        function onSkuOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#BuySKUCode").val(data.AttriVal);
                $("#BuySKUID").val(data.SkuID);
            }
        }
    </script>
    <script type="text/javascript">

        function OnBeforeHandSku() {
            var categorid = $("#HandsaleProductId").val();
            if (!categorid) {
                ErrorMsg("请先选择商品");
                return false;
            }


            var oldcategorid = $('#HandSKUGrid').data("HandsaleProductId");  // undefined

            if (oldcategorid && oldcategorid != categorid) {
                $('#HandSKUGrid').jqxGrid('updatebounddata');
            }
            $('#HandSKUGrid').data("HandsaleProductId", categorid);
            return true;

        }

        function InnitHandShopFunc() {
            var source =
          {
              datatype: "json",
              cache: false,
              datafields: [

      { name: 'ID', type: 'string' },
      { name: 'Code', type: 'string' },
      { name: 'Name', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }

              ],
              beforeprocessing: function (data) {
                  source.totalrecords = data.total;

              },
              root: 'Data',
              id: 'ID',
              url: "@Url.HttpRouteUrl("ApiWithWeb", new { controller = "ShopProductApi", action = "GetProduct" })"
          };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#HandshopGrid").jqxGrid(
            {
                width: "95%",
                autoheight: true,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                altrows: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: function () { pagerrenderer("#HandshopGrid") },
                pageSize: 20,
                pageable: true,
                columns: [
        { text: '编号', dataField: 'Code', align: "center", cellsalign: "center", type: 'string', width: 100 },

        { text: '名称', dataField: 'Name', align: "center", cellsalign: "center", type: 'string', width: '300' },

        { text: '市场价', dataField: 'MarketPrice', align: "center", cellsalign: "center", type: 'string', width: 80 },

        { text: '销售价', dataField: 'SalePrice', align: "center", cellsalign: "center", type: 'string', width: 80 }



                ]
            });

        }
        function onHandSpOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#HandProductName").val(data.Name);
                $("#HandsaleProductId").val(data.ID);
            }
        }



        function InnitHandSKUFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'SkuID', type: 'string' },



               { name: 'SKU', type: 'string' },

               { name: 'AttriVal', type: 'string' },
      { name: 'MarketPrice', type: 'string' },
      { name: 'SalePrice', type: 'string' }
                            ],

                            root: 'data',
                            id: 'SkuID',
                            url: "@Url.HttpRouteUrl("ApiWithWeb", new { controller = "ShopProductApi", action = "GetSkuByProductID" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source,
                     {

                         formatData: function (data) {

                             $.extend(data, {
                                 id: $("#HandsaleProductId").val()
                             });
                             return data;
                         }

                     }

                 );

            $("#HandSKUGrid").jqxGrid(
                       {
                           width: "95%",
                           autoheight: true,
                           source: dataAdapter,
                           columnsresize: true,
                           virtualmode: true,
                           altrows: true,
                           rendergridrows: function (params) {
                               return params.data;
                           },
                           pagerrenderer: function () { pagerrenderer("#HandSKUGrid") },
                           pageSize: 20,
                           pageable: true,
                           columns: [
                   { text: 'SKU编号', dataField: 'SKU', align: "center", cellsalign: "center", type: 'string', width: 100 },


                    { text: '规格', dataField: 'AttriVal', align: "center", cellsalign: "center", type: 'string', width: '300' },

                   { text: '市场价', dataField: 'MarketPrice', align: "center", cellsalign: "center", type: 'string', width: 80 },

                   { text: '销售价', dataField: 'SalePrice', align: "center", cellsalign: "center", type: 'string', width: 80 }



                           ]
                       });
        }
        function onHandSkuOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#HandSKUCode").val(data.AttriVal);
                $("#HandsaleProductSKUID").val(data.SkuID);
            }
        }
    </script>
    <script type="text/javascript">


        function InnitCouponFunc() {
            var source =
          {
              datatype: "json",
              cache: false,
              datafields: [

      { name: 'ID', type: 'string' },

      { name: 'Name', type: 'string' },
        { name: 'JE', type: 'string' },
      { name: 'CouponTypeName', type: 'string' },
       { name: 'FilePath', type: 'string' },
      { name: 'ClassName', type: 'string' },
       { name: 'QxLx', type: 'string' },
      { name: 'StartDate', type: 'string' },
       { name: 'EndDate', type: 'string' },
      { name: 'QXTS', type: 'string' }
              ],
              beforeprocessing: function (data) {
                  source.totalrecords = data.total;

              },
              root: 'data',
              id: 'ID',
              url: "@Url.HttpRouteUrl("ApiWithWeb", new { controller = "CouponApi", action = "GetCoupon" })"
          };

            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#CouponGrid").jqxGrid(
            {
                width: "95%",
                autoheight: true,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                altrows: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: function () { pagerrenderer("#CouponGrid") },
                pageSize: 20,
                pageable: true,
                columns: [

        { text: '名称', dataField: 'Name', align: "center", cellsalign: "center", type: 'string', width: '300' },

        { text: '面值', dataField: 'JE', align: "center", cellsalign: "center", type: 'string', width: 80 },
         { text: '获取方式', dataField: 'ClassName', align: "center", cellsalign: "center", type: 'string', width: 80 },
        { text: '类型', dataField: 'CouponTypeName', align: "center", cellsalign: "center", type: 'string', width: 80 },

                { text: '有效期类型', dataField: 'QxLx', align: "center", cellsalign: "center", type: 'string', width: 80 },
            { text: '开始日期', dataField: 'StartDate', align: "center", cellsalign: "center", type: 'string', width: 80 },
                { text: '截止日期', dataField: 'EndDate', align: "center", cellsalign: "center", type: 'string', width: 80 },
                    { text: '期限天数', dataField: 'QXTS', align: "center", cellsalign: "center", type: 'string', width: 80 }
                ]
            });

        }
        function onCouponOk(data) {
            if (!data) {

                ErrorMsg("请选择一条数据");


            } else {
                $("#CouponName").val(data.Name);
                $("#CouponID").val(data.ID);
            }
        }

    </script>
}
