@model List<ShopCardInfo>
@using EasyCms.Business
@using EasyCms.Model
@{
    ViewBag.Title = "购物车--" + EasyCms.CmsSessionExtend.WebSite.Name;
}

@Styles.Render("~/bundles/cardcss")
<script src="http://localhost:7161/Content/web/common.js"></script>
<div class="floor" style="width:990px;">
    <div class="cart-main">
        <div class="cart-filter-bar">

        </div>
        <div class='cart-header'>
            <div class="column checkbox">
                <div class="cart-checkbox">
                    <input type="checkbox" checked="checked" id="toggle-checkboxes_up" name="toggle-checkboxes" class="jdcheckbox  CheckBoxALL">
                </div>
                全选
            </div>
            <div class="column goods">商品</div>
            <div class="column props"></div>
            <div class="column price">单价(元)</div>
            <div class="column quantity">数量</div>
            <div class="column sum">小计(元)</div>
            <div class="column action">操作</div>
        </div>

        <div class="cart-tbody">

            @if (Model.Count == 0)
            {
                <div class="item-list error"> 购物车里空空的，快去挑选商品吧</div>

            }
            else
            {

                using (Html.BeginForm("Index", "Order", new { ReturnUrl = "" }, FormMethod.Post, new { id = "formCard" }))
                {
                    @Html.AntiForgeryToken()
                    int index = 0;
                    foreach (ShopCardInfo cardItem in Model)
                    {
                        <div class="item-list">
                            <div class="item-single  item-item ">
                                <div class="item-form">
                                    <div class="cell p-checkbox">
                                        <div class="cart-checkbox">
                                            @Html.Hidden("cardItem[" + index + "]", cardItem.ID)
                                            <input type="checkbox" val="@cardItem.ID" name="@("order.OrderItems["+index+"].IsSelected")" checked="checked" class="jdcheckbox" />
                                            <span class="line-circle"></span>
                                        </div>
                                    </div>
                                    <div class="cell p-goods">
                                        <div class="goods-item">
                                            <div class="p-img">
                                                @Html.Hidden("order.OrderItems["+index+ "].ProductID", cardItem.ProductId)
                                                @Html.Hidden("order.OrderItems[" + index + "].SKU", cardItem.SKU)
                                                <a href="@Url.Action("index", "Product", new { id = cardItem.ProductId, other = cardItem.SKU })" target="_blank"><img width="100" height="100" src="@cardItem.ThumbImgUrl"></a>
                                            </div>
                                            <div class="item-msg">
                                                <div class="p-name">
                                                    <a href="@Url.Action("index", "Product", new { id = cardItem.ProductId, other = cardItem.SKU })" target="_blank">@cardItem.Name</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell p-props p-props-new">
                                        <div class="props-txt" title="@cardItem.GuiGeInfo">@cardItem.GuiGeInfo</div>

                                    </div>

                                    <div class="cell p-price"><strong>@cardItem.SalePrice</strong></div>
                                    <div class="cell p-quantity">
                                        <div class="quantity-form" value="@cardItem.SalePrice">
                                            <a href="javascript:void(0);" class="decrement ">-</a>
                                            <input autocomplete="off" type="text" class="itxt" name="@("order.OrderItems["+(index++)+"].BuyCount")" value="@cardItem.Quantity">
                                            <a href="javascript:void(0);" class="increment">+</a>
                                        </div>
                                        <div class="ac ftx-03 quantity-txt" _stock="stock_1616043020">@(cardItem.Stock > 0 ? "有货" : "无货")</div>
                                    </div>
                                    <div class="cell p-sum" value="@(cardItem.SalePrice * cardItem.Quantity)">
                                        <strong>@(cardItem.SalePrice * cardItem.Quantity)</strong>
                                    </div>
                                    <div class="cell p-ops">
                                        <a class="cart-remove" val="@cardItem.ID" href="javascript:void(0);">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    }
                }
            }
            }
        </div>
        @if (Model.Count > 0)
        {
            <div class="cart-toolbar" style="width: 988px; height: 50px;">
                <div class="toolbar-wrap">
                    <div class="select-all">
                        <div class="cart-checkbox">
                            <input type="checkbox" checked="checked" value="" class="jdcheckbox CheckBoxALL">
                        </div>
                        全选
                    </div>
                    <div class="operation">
                        <a href="#none" class="deleteSelecte">删除选中的商品</a>
                    </div>
                    <div class="toolbar-right">
                        <div class="btn-area">
                            <a href="javascript:void(0);" class="submit-btn" id="btnSumbit">
                                去结算<b></b>
                            </a>
                        </div>
                        <div class="price-sum">
                            <div>
                                <span class="txt">总价（不含运费）：</span>
                                <span class="price sumPrice">
                                    <em>
                                        ￥
                                        @{
                                            decimal totalSum = 0;
                                            foreach (var item in Model)
                                            {
                                                totalSum += item.SalePrice * item.Quantity;

                                            }
                                        @totalSum
                                        }
                                    </em>
                                </span>
                                <br>
                                <span class="txt">已节省：</span>
                                <span class="price totalRePrice">-￥0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                            }

    </div>

</div>

<div class="space20"></div>
<script>
    function deleteCard(isSelected, cardID) {
        var array = new Array();
        if (isSelected) {
            //删除选中的
            $(".item-form .jdcheckbox:checked").each(function (i) {
                var val = $(this).attr("val");
                array.push(val);
            });
        } else {
            //单条删除
            array.push(cardID);
        }
        var _list = {};
        for (var i = 0; i < array.length; i++) {
            _list["ids[" + i + "]"] = array[i];
        }
        //删除数据库
        $.ajax({

            url: "@Url.Action("DeleteCard")",
            data: _list,
            dataType: "json",
            success: function (result) {
                if (result.IsSuccess) {
                    //删除选中的

                    $(".item-form .jdcheckbox").each(function (i) {
                        var val = $(this).attr("val");
                        if ($.inArray(val, result.data) > -1) {
                            $(this).parent().parent().parent().remove();
                        }
                    });
                    computeJe();
                } else {
                    alert(result.msg);
                }
            }


        });


    }

    function computeJe() {

        //获取所有选中的
        //删除选中的
        var totalSum = 0;
        var totalRePrice = 0;
        $(".item-form .jdcheckbox:checked").each(function (i) {

            totalSum += $(this).parent().parent().parent().find(".p-sum").attr("value") * 1;
        });
        $(".sumPrice").html("<em>￥" + totalSum + "</em>");
        $(".totalRePrice").html("<em>-￥" + totalRePrice + "</em>");
    }
    $(function () {
        $(".deleteSelecte").click(function () {
            deleteCard(true);
        });
        $(".cart-remove").click(function () {
            var val = $(this).attr("val");
            deleteCard(false, val);
        });

        $(".decrement").click(function () {
            var val = $(this).next(".itxt").val() * 1;
            if (val > 1) {

                val = val - 1;
                $(this).next(".itxt").val(val);
                var price = $(this).parent().attr("value") * 1;
                var psum = price * val;
                $(this).parent().parent().next(".p-sum").attr("value", psum);
                $(this).parent().parent().next(".p-sum").children().text(psum);
                computeJe();
            }
        });
        $(".increment").click(function () {
            var val = $(this).prev(".itxt").val() * 1;
            val = val + 1;
            $(this).prev(".itxt").val(val);
            var price = $(this).parent().attr("value") * 1;
            var psum = price * val;
            $(this).parent().parent().next(".p-sum").attr("value", psum);
            $(this).parent().parent().next(".p-sum").children().text(psum);
            computeJe();
        });

        $(".CheckBoxALL").change(function () {
            $(".item-form .jdcheckbox").prop("checked", $("#toggle-checkboxes_up").prop("checked"));
            computeJe();
        });
        $(".item-form .jdcheckbox").change(function () {
            computeJe();
        });


        $("#btnSumbit").click(function () {

            //先判断有没有选择商品
            if ($(".item-form .jdcheckbox:checked").length > 0) {
                //在判断有没有登录
                var status = GetUserStauts("@Url.Action("GetUserIsLogin", "Account")");
                

                status = true;
                if (status) {
                    $(".item-form .jdcheckbox").each(function () {
                        if (!$(this).prop("checked")) {
                            $(this).parent().parent().parent().find("input").remove();
                        } 
                });
                    $("#formCard").submit();
                    

                } else {
                    //让登录

                }
                
            } 
            else
            {
                alert("请至少选中一件商品！");

            }
           


        });

    });
</script>
