@model NewsCategory
@{
    ViewBag.Title = "编辑新闻分类";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}
@Scripts.Render("~/bundles/ueditor")
@using EasyCms.Model
 <link href="~/Content/ueditor/third-party/webuploader/webuploader.css" rel="stylesheet" />
<script src="~/Content/ueditor/third-party/webuploader/webuploader.js"></script>
<link href="~/Content/uploadCss/demo.css" rel="stylesheet" />

<style type="text/css">
    .webuploader-container {
        position: relative;
    }

    .webuploader-element-invisible {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px,1px,1px,1px);
    }

    .webuploader-pick {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        overflow: hidden; 
        background: none; 
    }

    .webuploader-pick-hover {
    }

    .webuploader-pick-disable {
        opacity: 0.6;
        pointer-events: none;
    }
</style>

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul> 
                <li><a class="selected" href="javascript:;">基本信息</a></li>
                <li><a href="javascript:;">扩展选项</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.RecordStatus)
    @Html.HiddenFor(model => model.ParentID)
    @Html.HiddenFor(model => model.DescriptionText)
    @Html.ValidationSummary()
    <div id="fileList"> 
    </div>
    <div class="cp_img_jia" id="filePicker"></div>
    <button id="ctlBtn" class="btn btn-default">开始上传</button>

   
    
    <script type="text/javascript">
       
        $(function () {
            var $ = jQuery,
            $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,
            // 缩略图大小
            thumbnailWidth = 90 * ratio,
            thumbnailHeight = 90 * ratio,

            // Web Uploader实例
            uploader;
            uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: false,

                disableGlobalDnd: true,
                // swf文件路径
                swf: '/Content/ueditor/third-party/webuploader/Uploader.swf',

                // 文件接收服务端。
                server:   '/Home/UpLoadProcess',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                //只允许选择图片
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                var $li = $(
                        '<div id="' + file.id + '" class="cp_img">' +
                            '<img>' +
                        '<div class="cp_img_jian"></div></div>'
                        ),
                    $img = $li.find('img');


                // $list为容器jQuery实例
                $list.append($li);

                // 创建缩略图
                // 如果为非图片文件，可以不用调用此方法。
                // thumbnailWidth x thumbnailHeight 为 100 x 100
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);


                //显示删除按钮
                $(".cp_img").on("mouseover", function () {
                    $(this).children(".cp_img_jian").css('display', 'block');

                });
                //隐藏删除按钮
                $(".cp_img").on("mouseout", function () {
                    $(this).children(".cp_img_jian").css('display', 'none');

                });
                //执行删除方法
                $list.on("click", ".cp_img_jian", function () {
                    var Id = $(this).parent().attr("id");
                    uploader.removeFile(uploader.getFile(Id, true));
                    $(this).parent().remove();
                });
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                    $percent = $li.find('.progress span');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<p class="progress"><span></span></p>')
                            .appendTo($li)
                            .find('span');
                }

                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on('uploadSuccess', function (file, response) {

                $('#' + file.id).addClass('upload-state-done');
            });

            // 文件上传失败，显示上传出错。
            uploader.on('uploadError', function (file) {
                var $li = $('#' + file.id),
                    $error = $li.find('div.error');

                // 避免重复创建
                if (!$error.length) {
                    $error = $('<div class="error"></div>').appendTo($li);
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').remove();
            });

            //所有文件上传完毕
            uploader.on("uploadFinished", function () {
                //提交表单

            });

            //开始上传
            $("#ctlBtn").click(function () {
                uploader.upload();
                return false;

            });


        }); 
    </script>
    @HelperExtend.HelpEdit("ParentID", "ParentName", "上级分类", defaultvalAndText: Model.ParentName, hint: "空为一级分类", dialogTitle: "选择上级分类", InnitFunc: "InnitFunc", onOk: "onOk", IsTree: true, DataControlID: "treeGrid")
    @HelperExtend.TextBox("Code", "编号", defaultval: Model.Code, hint: "*编号不能重复")
    @HelperExtend.TextBox("Name", "名称", defaultval: Model.Name, hint: "*名称不能重复.")

    @HelperExtend.RadioGroup("WebSiteType", "所属站点 ", "0,1", "默认站点,手机站点", defaultval: Model.WebSiteType)
    @HelperExtend.RadioGroup("ClassTypeID", "栏目类型", "0,1", "主导航,可频道版块", defaultval: Model.ClassTypeID)
    @HelperExtend.RadioGroup("ClassModel", "内容模式", "0,1", "文章列表,单文章", defaultval: Model.ClassModel)
    @HelperExtend.TextBox("Keywords", "关键字", defaultval: Model.Keywords)
    @HelperExtend.CheckBoxList("频道设置", "AllowAddContent,AllowSubclass", "允许增加内容,允许增加子类", defaultval: new object[] { Model.AllowSubclass, Model.AllowSubclass });
    @HelperExtend.UEditor("Description", "栏目描述", defaultval: Model.Description);
    @Html.HiddenFor(model => model.DescriptionText)
    @HelperExtend.TextBox("OrderNo", "显示顺序", defaultval: Model.OrderNo)
    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note)
</div>

<div class="tab-content" style="display:none">
    @HelperExtend.TextBox("Meta_Title", "页面标题", defaultval: Model.Meta_Title)
    @HelperExtend.TextArea("Meta_Keywords", "页面关键字", defaultval: Model.Meta_Keywords)
    @HelperExtend.TextArea("Meta_Description", "页面描述", defaultval: Model.Meta_Description)

</div>
@section  scripts{


    <script type="text/javascript">

        $(function () {
            $.validator.setDefaults({
                submitHandler: function (form) { 
                    $("#TextArea").val(getContentTxt("Description"));
                    form.submit();
                }
            });
            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Code").val(); },
                                IsCode: true
                            }
                        }
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符"),
                        remote: "同级分类下编号重复"
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "同级分类下名称重复"
                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });
        })
    </script>

    <script type="text/javascript">

        function InnitFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'ID', type: 'string' },

               { name: 'ParentID', type: 'string' },

               { name: 'Code', type: 'string' },

               { name: 'Name', type: 'string' },

               { name: 'AllowSubclass', type: 'string' }
                            ],
                            timeout: 10000,
                            hierarchy:
                            {
                                keyDataField: { name: 'ID' },
                                parentDataField: { name: 'ParentID' }
                            },
                            id: 'ID',
                            root: 'value',
                            url: " @Url.Action("GetListForSelecte", "NewsCategory", new { area = "Admin" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source);


            $("#treeGrid").jqxTreeGrid(
                       {
                           width: "95%",
                           height: "95%",
                           source: dataAdapter,
                           columns: [
             { text: '编码', dataField: 'Code', type: 'string', width: 200 },
             { text: '名称', dataField: 'Name', type: 'string', width: 200 }
                           ]
                       });
        }
        function onOk(data) {
            if (data.length == 1) {

                if (data[0].AllowSubclass) {
                    $("#ParentName").val(data[0].Name);
                    $("#ParentID").val(data[0].ID);
                } else {

                    ErrorMsg("当前分类不能有下级分类");
                }

            } else { ErrorMsg("请选择一条数据"); }
        }
        $(function () {

            if ("@TempData.ContainsKey("IsSuccess").ToString().ToLower()" == "true") {
                SucessMsg("@TempData["IsSuccess"]");
            }


        });
    </script>
}
