@model RedeemRules
@{
    ViewBag.Title = "编辑积分规则";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())
    @Html.ValidationSummary()
    @HelperExtend.DropDownList("RuleType", "类型", defaultval: Model.RuleType, downInfo: new DropDownListInfo()
{
    Url = Url.Action("GetIdAndNameByParentId", "ParameterInfo", new { area = "Admin", id = StaticValue.RuleType })
})
    @HelperExtend.Lable("")
    @HelperExtend.TextBox("Name", "规则名称", defaultval: Model.Name, hint: "")
    @HelperExtend.RadioGroup("ComputeType", "计算方式", "0,1", "按比例,按定额", defaultval: Model.ComputeType) 
    @HelperExtend.Number("BaseNum", "基数", defaultval: Model.BaseNum, hint: "")
    @HelperExtend.Number("ReleNum", "兑换数值", defaultval: Model.ReleNum, hint: "")
    @HelperExtend.Number("BL", "不能超过商品单价比例", defaultval: Model.BL, hint: "")
    @HelperExtend.RadioGroup("IsEnable", "是否启用", "false,true", "否,是", defaultval: Model.IsEnable)
    @HelperExtend.TextBox("Remark", "备注", defaultval: Model.Remark, hint: "")

</div>


@section  scripts{


    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "RuleType": {
                        required: true,
                        maxlength: 50
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    RuleType: {
                        required: "请选择类型",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符")
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "同级分类下名称重复"
                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });
        })
    </script>

    <script type="text/javascript">

        function InnitFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'ID', type: 'string' },

               { name: 'ParentID', type: 'string' },

               { name: 'Code', type: 'string' },

               { name: 'Name', type: 'string' },

               { name: 'AllowSubclass', type: 'string' }
                            ],
                            timeout: 10000,
                            hierarchy:
                            {
                                keyDataField: { name: 'ID' },
                                parentDataField: { name: 'ParentID' }
                            },
                            id: 'ID',
                            root: 'value',
                            url: " @Url.Action("GetListForSelecte", "NewsCategory", new { area = "Admin" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source);


            $("#treeGrid").jqxTreeGrid(
                       {
                           width: "95%",
                           height: "95%",
                           source: dataAdapter,
                           columns: [
             { text: '编码', dataField: 'Code', type: 'string', width: 200 },
             { text: '名称', dataField: 'Name', type: 'string', width: 200 }
                           ]
                       });
        }
        function onOk(data) {
            if (data.length == 1) {

                if (data[0].AllowSubclass) {
                    $("#ParentName").val(data[0].Name);
                    $("#ParentID").val(data[0].ID);
                } else {

                    ErrorMsg("当前分类不能有下级分类");
                }

            } else { ErrorMsg("请选择一条数据"); }
        }
        $(function () {

            if ("@TempData.ContainsKey("IsSuccess").ToString().ToLower()" == "true") {
                SucessMsg("@TempData["IsSuccess"]");
            }


        });
    </script>
}
