@using MVCExtention;
@{
    ViewBag.Title = "商品信息";
}
<span>
    @HelperExtend.DropDownListClass("qryALLCategory", "商品分类", Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetChildCategory" }))
</span><input name="ProductName" width="200" class="input normal " id="ProductName" type="text" value="">
<input type="button" class="searchBtn" value="搜索" id='BtnqryCateTj' />

 
<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="save" href="javascript:;" onclick="EditGrid('jqxgrid', '@Url.Action("Edit")');"><i></i><span>编辑</span></a></li>
                    <li><a class="list" href="javascript:;" onclick="isSJ(1 );"><i></i><span>批量上架</span></a></li>
                    <li><a class="lock" href="javascript:;" onclick="isSJ(0);"><i></i><span>批量下架</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelGrid('jqxgrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
  
        <div id="jqxgrid"></div>
    
<!--/列表-->
@section  scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $(".searchBtn").jqxButton({ width: '100', template: "success" });
            $('#BtnqryCateTj').on('click', function () {
                $('#jqxgrid').jqxGrid('updatebounddata');
            });
            var url = "@Url.Action("GetList")";
            var datafields = [{ name: 'ID' }, { name: 'Code' }, { name: 'Name' }, { name: 'SKU' }, { name: 'TypeName' },

		{ name: 'BrandId', type: 'BrandName' }, { name: 'SupplierId' }, { name: 'RegionId' }, { name: 'ShortDescription' },

		{ name: 'Unit' }, { name: 'Description' }, { name: 'Meta_Title' }, { name: 'Meta_Description' }, { name: 'Meta_Keywords' },

		{ name: 'SalesType' }, { name: 'SaleStatus' }, { name: 'VistiCounts' }, { name: 'SaleCounts' }, { name: 'SaleNum' }, { name: 'DisplaySequence' },

		{ name: 'MarketPrice' }, { name: 'SalePrice' }, { name: 'CostPrice' }, { name: 'Points' }, { name: 'Stock' }, { name: 'MaxQuantity' },

		{ name: 'MinQuantity' }, { name: 'Tags' }, { name: 'IsVirtualProduct' }, { name: 'ManufactureDate' },

		{ name: 'LaunchDate' }, { name: 'SaleDate' }, { name: 'AddedDate' }, { name: 'CommentCount' }];
            var columns = [
  { text: '编号', dataField: 'Code', width: 100, cellsalign: "left" },
  { text: '名称', dataField: 'Name', width: '300', cellsalign: "left" },
  { text: '商品类型', dataField: 'TypeName', width: 80 },
  { text: '品牌', dataField: 'BrandName', width: 80 },
  {
      text: '销售类型', dataField: 'SalesType', width: 80, valObj: [{ key: 0, val: '赠品' }, { key: 1, val: '普通商品' }]
  },
  {
      text: '商品状态', dataField: 'SaleStatus', width: 80, valObj: [{ key: 0, val: '下架' }, { key: 1, val: '上架' }, { key: 2, val: '待审批' }]
  },
  { text: '访问次数', dataField: 'VistiCounts', width: 80, cellsalign: "right" },
  { text: '销售个数', dataField: 'SaleCounts', width: 80, cellsalign: "right" },
  { text: '销售次数', dataField: 'SaleNum', width: 80, cellsalign: "right" },
     { text: '评论次数', dataField: 'CommentCount', width: 80, cellsalign: "right" },
  { text: '显示顺序', dataField: 'DisplaySequence', width: 80, cellsalign: "right" },
  { text: '市场价', dataField: 'MarketPrice', width: 80, cellsalign: "right" },
  { text: '销售价', dataField: 'SalePrice', width: 80, cellsalign: "right" },
  { text: '成本价', dataField: 'CostPrice', width: 80, cellsalign: "right" },
  { text: '可得积分', dataField: 'Points', width: 80, cellsalign: "right" },
  { text: '库存', dataField: 'Stock', width: 80, cellsalign: "right" },
  { text: '上架日期', dataField: 'SaleDate', width: 80 },
  { text: '添加日期', dataField: 'AddedDate', width: 80 }];
            CreateGrid("jqxgrid", url, datafields, columns, {
                isMutilSelect: true,
                grid: { pagesize: 25, width: '99%', height: '90%' }, adapter: {
                    formatData: function (data) {
                        data.categoryID = $("#qryALLCategory").val();
                        data.Name = $("#ProductName").val();
                    }
                }
            });

        });
    </script>
    <script type="text/javascript">



        function isSJ(opcode) {
            var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');


            if (rowindexes.length > 0) {


                href = "@Url.Action("IsSJOperator", new { area = "admin" })";
                $.post(href, { ID: getSelectIDS(rowindexes), opcode: opcode }, function (d) {

                    if (d.indexOf("成功") > -1) {
                        SucessMsg(d);
                        $('#jqxgrid').jqxGrid('updatebounddata');
                    } else { ErrorMsg(d); }
                });
            } else { ErrorMsg("请选择至少一条数据"); }
        }


        function getSelectIDS(rowindexes) {
            var ids = null;
            for (var i in rowindexes) {
                if (ids) {
                    ids += ";";
                }
                var data = $('#jqxgrid').jqxGrid('getrowdata', rowindexes[i]);
                ids += data.ID;
            }
            return ids;
        }
    </script>

}
