@model ShopExtendInfo
@{
    ViewBag.Title = "编辑扩展属性";

    Layout = "~/Areas/Admin/Views/Shared/_LayoutEditDialog.cshtml";

}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/uploadJs")
@Scripts.Render("~/bundles/jqueryAjax")
@using EasyCms.Model
<!--内容-->

<div class="tab-content">
    @using (Ajax.BeginForm("SaveExtend", null, new AjaxOptions() { OnBegin = "return  $('#formGg').validate();", AllowCache = false, OnSuccess = "OnGgSuccess", OnFailure = "OnGgFail" }, new { id = "formGg" }))
    {

        @Html.Partial("_Msg") 
             @Html.Hidden("IsContinueAdd")
        @HelperExtend.HiddenFor("ID", Model.ID)
        @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())
        @HelperExtend.HiddenFor("ProductTypeID", Model.ProductTypeID)
        @HelperExtend.HiddenFor("UsageMode", Model.UsageMode.ToString())
        @HelperExtend.TextBox("Name", "属性名称", defaultval: Model.Name, hint: "*名称不能重复.")
        @HelperExtend.TextBox("UnitText", "属性单位", defaultval: Model.UnitText, hint: "属性的计量单位.")
        @HelperExtend.RadioGroup("ShowType", "展示方式 ", "0,1,2", "单选,多选,文本", defaultval: Model.ShowType)
        @HelperExtend.RadioGroup("UseAttrImg", "显示类型", "false,true", "文本,图片", defaultval: Model.UseAttrImg)
        @HelperExtend.RadioGroup("UseDefineImg", "自定义图标", "false,true", "否,是", defaultval: Model.UseDefineImg)
        @HelperExtend.TextBox("DisplayOrder", "显示顺序", defaultval: Model.DisplayOrder)
        @HelperExtend.TextArea("Vals", "属性值", hint: "扩展属性的值，多个属性值可用“，”号隔开，每个值最多15个字符！")
    <!--工具栏-->
        <div class="page-footer">
            <div class="btn-wrap">
                <input type="submit" onclick="$('#IsContinueAdd').val(1)" value="保存后继续新增" class="btn" />
                <input type="submit" onclick="$('#IsContinueAdd').val(0)" value="提交保存" class="btn" />
                <input name="btnReturn" type="button" value="关闭" class="btn yellow" onclick="javascript: CloseDialog();" />
            </div>
        </div>
    <!--/工具栏-->

    }


</div>

@section  scripts{

    <script type="text/javascript">

        function OnGgSuccess(data) {
            if (data.result) {
                $("#formGg").find("#ID").val(data.id);
                $("#formGg").find("#RecordStatus").val(data.RecordStatus);
                SucessMsg("保存成功");
                SetDialogState(true);
                if ($('#IsContinueAdd').val() == 1) {
                    $("#formGg").find("#RecordStatus").val("add");
                    $("#formGg").find("#ID").val("");
                    $("#formGg").find("#Name").val("");
                    $("#formGg").find("#UnitText").val(""); 
                    $("#formGg").find("#Vals").val("");
                }
                //$('#jqxGg').jqxGrid('updatebounddata');
            } else {
                ErrorMsg("保存失败" + data.msg);
            }
        }
        function OnGgFail(res, error, errorText) {
            ErrorMsg("保存失败" + errorText);
        }
    </script>

    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("formGg").validate({
                ignore: "",
                rules: {
                    Name: {
                        required: true,
                        maxlength: 100
                    }
                },
                messages: {

                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符")

                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });


        })
    </script>


}
