@model   EasyCms.Web.DialogModel
@using EasyCms.Web
@{string btnOkID = "tnOk" + Guid.NewGuid();}
<div id="@Model.DialogID">
    <div>
        <span>

            @HelperExtend.img("help.png")   @Model.Title
        </span>
    </div>
    <div>
        <div class="mainSplitter">
            <div class="splitter-panel">
                @if (Model.IsMutiSelect)
                {
                    <text> 按住Ctrl 或Shift可以多选</text>
                }
                <div id="@Model.DataControlID">
                </div>
            </div>
            <div class="splitter-panel">
               
                <div class="btn-wrap" style="margin:2px auto; text-align:center">
                   
                    <input id="@btnOkID" type="button" value="确定" class="btn" onclick="javascript: @Model.OnOk;$('#@Model.DialogID').jqxWindow('close');" />
                    <input name="btnReturn" type="button" value="取消" class="btn yellow" onclick="javascript: $('#@Model.DialogID').jqxWindow('close');" />
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('#@Model.DialogID').jqxWindow({autoOpen: false, resizable: true,  isModal: true,initContent: @Model.InnitFunc,
            showCollapseButton: false, maxHeight: 900, maxWidth: 1000, minHeight: 100, minWidth: 200, height: @Model.Height , width: @Model.Width
            });
        $('#@Model.DialogID').find(".mainSplitter").jqxSplitter({ width: "100%", height:"99%",
            splitBarSize: 0,showSplitBar: true ,    orientation: 'horizontal', panels: [{   size:"90%",collapsed:false }, { size:"5%" ,collapsed:false}] });
        $('#@btnOkID').click(function(){
            var result;

            if (@Model.IsTree.ToString().ToLower() ) {
                if (@Model.IsMutiSelect.ToString().ToLower() ) {
                result = $("#@Model.DataControlID").jqxTreeGrid('getSelection');

            }else
            {
                result = $("#@Model.DataControlID").jqxTreeGrid('getSelection');

            }
        }else
    {
         if (@Model.IsMutiSelect.ToString().ToLower() ) {
        result =$("#@Model.DataControlID").jqxGrid('getselectedrowindexes');
        var arryval=new   Array ();
        for (var i  in result)
        {
            arryval.push(  $('#@Model.DataControlID').jqxGrid('getrowdata', i));
        }
        result=arryval;

    }else
    {
      result =$("#@Model.DataControlID").jqxGrid('getselectedrowindex');
    result = $('#@Model.DataControlID').jqxGrid('getrowdata', result);

    }
    }
    @{@Model.OnOk}(result);

    });
    });



</script>
