<!DOCTYPE html>
<html>
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css") 
    @Styles.Render("~/bundles/jqxcss")
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/eshopJS")
</head>

<body class="mainbody">

    @Html.Partial("_Loading")
    
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a href="../center.aspx" class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <span>@ViewBag.Title</span>
    </div>
    <!--/导航栏-->
    @RenderBody()
    @Html.Partial("_Msg") 
    @RenderSection("scripts", required: false)
    

</body>
</html>
