@model ShopShippingAddress
@using EasyCms.Model
@using System.Data
@using EasyCms.Business
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>编辑收件人信息</title>
    @Styles.Render("~/bundles/areacss")
    @Scripts.Render("~/bundles/onlyjquery") 
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryAjax")
    @Scripts.Render("~/bundles/account")
</head>
<body id="consignee_body" marginwidth="0" marginheight="0">
    @using (Ajax.BeginForm("Save", "Addr", new AjaxOptions() { AllowCache = false, OnBegin="showloading", OnComplete="closeloading", OnSuccess = "OnSuccess", OnFailure = "OnFail" }, new { id = "formaddr" }))
    {
        @Html.AntiForgeryToken()
        <div class="form" id="consignee-form" name="consignee-form">
           
            
            @Html.Hidden("ID", Model.ID)
            @Html.Hidden("RecordStatus", Model.RecordStatus.ToString())
          
            @Html.ValidationSummary()
            <div class="item" id="name_div">
                <span class="label"><span style="color:red">*</span>&nbsp;收货人：</span>
                <div class="fl">
                    @Html.TextBoxFor(m => m.ShipName, new { @class = "itxt", maxlength = "20" })
                    <span class="error-msg" id="name_div_error"></span>
                </div>
            </div>
            <div class="item" id="area_div">
                <span class="label"><span style="color:red">*</span>&nbsp;所在地区：</span>
              
                @Html.Hidden("RegionId", Model.RegionId)
                
                <div class="fl">
                    <!-- 新版地址选择 Start -->
                    <div id="selectRegionId">
                        <select class="prov"></select>
                        <select class="city" disabled="disabled"></select>
                        <select class="dist" disabled="disabled"></select>
                    </div>
                </div>
                <div class="fl">
                    <span class="error-msg" id="jd_area_tab_error"></span>
                    <!-- 新版地址选择  End  -->
                </div>
            </div>
            <div class="item">
                <span class="label" id="address_div"><span style="color:red">*</span>&nbsp;详细地址：</span>
                <div class="fl">
                    <!--span id="areaNameTxt"></span-->
                    @Html.TextBoxFor(m => m.Address, new { @class = "itxt itxt02", maxlength = "50", })
                    <span class="error-msg" id="address_div_error"></span>
                </div>
            </div>
            <div class="item" id="call_div">
                <span class="label"><span style="color:red">*</span>&nbsp;手机号码：</span>
                <div class="fl">
                    @Html.TextBoxFor(m => m.CelPhone, new { @class = "itxt",  maxlength = "11" })
                    <span class="error-msg" id="call_div_error"></span>

                </div>
                <div class="fl">
                    <span class="label">固定电话：</span>
                    @Html.TextBoxFor(m => m.TelPhone, new { @class = "itxt",   maxlength = "20" })
                </div>
                <span class="error-msg" id="call_div_error"></span>
            </div>
            <div class="item" id="email_div">
                <span class="label">邮箱：</span>
                <div class="fl">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "itxt",   maxlength = "50" })

                    <span class="error-msg" id="email_div_error"></span>
                    <div class="ftx-03">用来接收订单提醒邮件，便于您及时了解订单状态</div>
                </div>
            </div>
            <div class="item" id="alias_div">
                <span class="label">地址别名：</span>
                <div class="fl">
                    @Html.TextBoxFor(m => m.Remark, new { @class = "itxt",    maxlength = "20" })

                    <span class="error-msg" id="alias_div_error"></span>
                    <span class="consignee-tag-info">建议填写常用名称</span>
                </div>
                <div class="consignee-tag fl">
                    <span onclick="javascript:setEditAddressAilas(this);" id="home">家里</span>
                    <span onclick="javascript: setEditAddressAilas(this);" id="parentHome">父母家</span>
                    <span onclick="javascript: setEditAddressAilas(this);" id="company">公司</span>
                </div>
            </div>
            <div class="item">
                <span class="label">&nbsp;</span>
                <div class="fl">
                    <span id="addNumLimitNote"   class="status error" style="display:none; color:red;"></span>
                </div>
                <div style="display:none"><input id="consignee_form_reset" name="" type="reset"></div>
            </div>
            <div class="item">
                <span class="label">&nbsp;</span>
                <div class="fl">
                    <a href="#none" class="btn-9" onclick="save_Consignee()"><span id="saveConsigneeTitleDiv">保存收货人信息</span></a>
                    <div class="loading loading-1" style="display:none"><b></b>正在提交信息，请等待！</div>
                    <!--a href="#none" class="btn-9 ml10">取消</a-->
                </div>
                <div style="display:none"><input id="consignee_form_reset" name="" type="reset"></div>
            </div>

            <!--yanwenqi 全球购添加身份证号下面-->
            <!--end-->
        </div>
        
                                    }

    <script type="text/javascript">
        $("#consignee_name").focus();
       
        function showloading( )
        { 
            $(".loading").show(); 
              
        } function closeloading()
        { 
            $(".loading").hide(); 
              
        }
        function OnSuccess(result)
        {
            if (!result.result) {
                $(".error").html("<b></b>" + result.Msg);
                $(".error").show(); 
                return false;
            } else {
                setResult(result)
                closeDialog();
            }
        }
        function OnFail(result)
        {
            if (result) {
                $(".error").html("<b></b>" + result);
                $(".error").show(); 
                return false;
            }
        }
        function setEditAddressAilas(elemnt) {
            $("#Remark").val($(elemnt).text());
        } 
        function save_Consignee() {
            
                $("form").submit();
            
        }

        $(function () {
            

        @{ 
            int defalutprovID = 16;
            int defaultcityID = 172;
            int defaultdistID = 0;
            if (Model.RegionId>0)
            {
                int[] IdS=   new AdministrativeRegionsBll().GetParentIDByChildID(Model.RegionId);
                if (IdS.Length>0)
                {
                    defalutprovID = IdS[0];
                }
                if (IdS.Length > 1)
                {
                    defaultcityID = IdS[1];
                }
                if (IdS.Length > 2)
                {
                    defaultdistID = IdS[2];
                }
            }

        }
            $("#selectRegionId").citySelect({
                prov: "@defalutprovID",
                city: "@defaultcityID",
                dist:"@defaultdistID",

            });
            
          
             //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    ShipName: {
                        required: true,
                        maxlength: 100,
                    },
                    Address: {
                        required: true,
                        maxlength: 600
                    },
                    CelPhone: {
                        required: true,
                        maxlength: 20
                    },
                    EmailAddress: {
                        email: true,
                        maxlength: 50
                    }

                },
                messages: {
                    ShipName: {
                        required: "请输入收件人名称",
                        maxlength: $.validator.format("长度不能大于{0}个字符")

                    },
                    Address: {
                        required: "请输入详细地址",
                        maxlength: $.validator.format("长度不能大于{0}个字符")
                    }
            ,
                    CelPhone: {
                        required: "请输入电话",
                        maxlength: $.validator.format("长度不能大于{0}个字符")
                    },
                    EmailAddress: {
                        email: "请输入正确的邮箱格式",
                        maxlength: $.validator.format("长度不能大于{0}个字符")
                    }
                }
                ,
                success: function (element) {
                 
                    for (var i = 0; i < element.length; i++) {
                        $(element[i].control).parent().find(".error-msg").hide();
                    }
                    
                },
                errorPlacement: function (error, element) {
                    
                    element.parent().find(".error-msg").text(error.text()).show();
                }

            });

        });




        /*
Ajax 三级省市联动
日期：2012-7-18

settings 参数说明
-----
url:省市数据josn文件路径
prov:默认省份
city:默认城市
dist:默认地区（县）
nodata:无数据状态
required:必选项
------------------------------ */
        (function ($) {
            $.fn.citySelect = function (settings) {
                if (this.length < 1) { return; };

                // 默认值
                settings = $.extend({
                    url: "/Content/js/addr.js",
                    prov: null,
                    city: null,
                    dist: null,
                    nodata: null,
                    required: false
                }, settings);

                var box_obj = this;
                var prov_obj = box_obj.find(".prov");
                var city_obj = box_obj.find(".city");
                var dist_obj = box_obj.find(".dist");
                var prov_val = settings.prov;
                var city_val = settings.city;
                var dist_val = settings.dist;
                var select_prehtml = (settings.required) ? "" : "<option value=''>请选择</option>";
                var city_json;

                // 赋值市级函数
                var cityStart = function () {
                    var prov_id = prov_obj.get(0).selectedIndex;
                    if (!settings.required) {
                        prov_id--;
                    };
                    city_obj.empty().attr("disabled", true);
                    dist_obj.empty().attr("disabled", true);

                    if (prov_id < 0 || typeof (city_json.p[prov_id].c) == "undefined") {
                        if (settings.nodata == "none") {
                            city_obj.css("display", "none");
                            dist_obj.css("display", "none");
                        } else if (settings.nodata == "hidden") {
                            city_obj.css("visibility", "hidden");
                            dist_obj.css("visibility", "hidden");
                        };
                        return;
                    };

                    // 遍历赋值市级下拉列表
                    temp_html = select_prehtml;
                    $.each(city_json.p[prov_id].c, function (i, city) {
                        temp_html += "<option value='" + city.id + "'>" + city.name + "</option>";
                    });
                    city_obj.html(temp_html).attr("disabled", false).css({ "display": "", "visibility": "" });
                    distStart();
                };

                // 赋值地区（县）函数
                var distStart = function () {
                    var prov_id = prov_obj.get(0).selectedIndex;
                    var city_id = city_obj.get(0).selectedIndex;
                    if (!settings.required) {
                        prov_id--;
                        city_id--;
                    };
                    dist_obj.empty().attr("disabled", true);

                    if (prov_id < 0 || city_id < 0 || typeof (city_json.p[prov_id].c[city_id].d) == "undefined") {
                        if (settings.nodata == "none") {
                            dist_obj.css("display", "none");
                        } else if (settings.nodata == "hidden") {
                            dist_obj.css("visibility", "hidden");
                        };
                        return;
                    };

                    // 遍历赋值市级下拉列表
                    temp_html = select_prehtml;
                    $.each(city_json.p[prov_id].c[city_id].d, function (i, dist) {
                        temp_html += "<option value='" + dist.id + "'>" + dist.name + "</option>";
                    });
                    dist_obj.html(temp_html).attr("disabled", false).css({ "display": "", "visibility": "" });
                };

                var init = function () {
                    // 遍历赋值省份下拉列表
                    temp_html = select_prehtml;
                    $.each(city_json.p, function (i, prov) {
                        temp_html += "<option value='" + prov.id + "'>" + prov.name + "</option>";
                    });
                    prov_obj.html(temp_html);

                    // 若有传入省份与市级的值，则选中。（setTimeout为兼容IE6而设置）
                    setTimeout(function () {
                        if (settings.prov != null) {
                            prov_obj.val(settings.prov);
                            cityStart();
                            setTimeout(function () {
                                if (settings.city != null) {
                                    city_obj.val(settings.city);
                                    distStart();
                                    setTimeout(function () {
                                        if (settings.dist != null) {
                                            dist_obj.val(settings.dist);
                                        };
                                    }, 1);
                                };
                            }, 1);
                        };
                    }, 1);

                    // 选择省份时发生事件
                    prov_obj.bind("change", function () {
                        cityStart();
                        $("#RegionId").val(prov_obj.val());
                    });

                    // 选择市级时发生事件
                    city_obj.bind("change", function () {
                        distStart();
                        $("#RegionId").val(city_obj.val());
                    });
                    dist_obj.bind("change", function () { 
                        $("#RegionId").val(dist_obj.val());
                    });
                };

                // 设置省市json数据
                if (typeof (settings.url) == "string") {
                    $.getJSON(settings.url, function (json) {
                        city_json = json;
                        init();
                    });
                } else {
                    city_json = settings.url;
                    init();
                };
            };
        })(jQuery);
    </script>

</body>
</html>