@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>后台管理中心</title>

    @Styles.Render("~/bundles/css")
</head>
<body class="indexbody">

    <!--全局菜单-->
    <a class="btn-paograms" onclick="togglePopMenu();"></a>
    <div id="pop-menu" class="pop-menu">
        <div class="pop-box">
            <h1 class="title"><i></i>导航菜单</h1>
            <i class="close" onclick="togglePopMenu();">关闭</i>
            <div class="list-box"></div>
        </div>
        <i class="arrow">箭头</i>
    </div>
    <!--/全局菜单-->

    <div class="main-top">
        <a class="icon-menu"></a>
        <div id="main-nav" class="main-nav">
            <a class="">站点</a><a>商品</a><a>会员</a><a class="selected">营销</a><a>订单</a>

        </div>
        <div class="nav-right">
            <div class="info">
                <i></i>
                <span>
                    您好，@*<%=admin_info.user_name %>*@<br>
                    @*<%=new DTcms.BLL.manager_role().GetTitle(admin_info.role_id) %>*@
                </span>
            </div>
            <div class="option">
                <i></i>
                <div class="drop-wrap">
                    <div class="arrow"></div>
                    <ul class="item">
                        <li>
                            <a href="../" target="_blank">预览网站</a>
                        </li>
                        <li>
                            <a href="center.aspx" target="mainframe">管理中心</a>
                        </li>
                        <li>
                            <a href="manager/manager_pwd.aspx" onclick="linkMenuTree(false, '');" target="mainframe">修改密码</a>
                        </li>
                        <li>
                            <asp:LinkButton ID="lbtnExit" runat="server" onclick="lbtnExit_Click">注销登录</asp:LinkButton>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul style="display:none;">
        <li> @Html.ActionLink("系统参数设置", "index", "ParameterInfo", null, new { style = "color:white", target = "mainframe" })</li>
        <li>
            @Html.ActionLink("新闻分类管理", null, "NewsCategory", null, new { style = "color:white", target = "mainframe" })
        </li>
        <li>  @Html.ActionLink("新闻管理", null, "NewsInfo", null, new { style = "color:white", target = "mainframe" })</li>
        <li>  @Html.ActionLink("商品分类", null, "ShopCategory", null, new { style = "color:white", target = "mainframe" })</li>
        <li>  @Html.ActionLink("商品品牌管理", null, "ShopBrandInfo", null, new { style = "color:white", target = "mainframe" })</li>
        <li>  @Html.ActionLink("商品类型", null, "ShopProductType", null, new { style = "color:white", target = "mainframe" })</li>

        <li>  @Html.ActionLink("商品信息", null, "ShopProductInfo", null, new { style = "color:white", target = "mainframe" })</li>
    </ul>
    <div class="main-left">
        <h1 class="logo"></h1>
        <div id="sidebar-nav" class="sidebar-nav">
            
            <div class="list-group">
                <h1 title="站点"><img src="/Content/skin/default/nav/home.png" /></h1>
                <div class="list-wrap">
                    <h2>站点管理<i></i></h2>
                    <ul>
                        <li>
                            <a navid="channel_main" target="mainframe">
                                <span>默认站点</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="channel_news" target="mainframe">
                                        <span>系统设置</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a navid="channel_news_list" href="/Admin/ParameterInfo" target="mainframe" target="mainframe">
                                                <span>系统参数设置</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a navid="sys_manager" target="mainframe">
                                        <span>系统用户</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a navid="manager_list" href="manager/manager_list.aspx" target="mainframe" target="mainframe">
                                                <span>管理员管理</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a navid="manager_role" href="manager/role_list.aspx" target="mainframe" target="mainframe">
                                                <span>角色管理</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a navid="manager_log" href="manager/manager_log.aspx" target="mainframe" target="mainframe">
                                                <span>管理日志</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a navid="channel_news" target="mainframe">
                                        <span>新闻管理</span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a navid="channel_news_list" href="/Admin/NewsCategory" target="mainframe" target="mainframe">
                                                <span>新闻类别定义</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a navid="channel_news_list" href="/Admin/NewsInfo" target="mainframe" target="mainframe">
                                                <span>新闻管理</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <h1 title="商品"><img src="/Content/skin/default/nav/pus.png" /></h1>
                <div class="list-wrap">
                    <h2>商品管理<i></i></h2>
                    <ul>
                        <li>
                            <a navid="sys_plugin_manage" target="mainframe">
                                <span>商品管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="plugin_feedback" href="/Admin/ShopCategory" target="mainframe" >
                                        <span>商品分类</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="plugin_link" href="/Admin/ShopBrandInfo" target="mainframe"  >
                                        <span>商品品牌管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="plugin_link1" href="/Admin/ShopProductType" target="mainframe"  >
                                        <span>商品类型</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="plugin_link2" href="/Admin/ShopProductInfo" target="mainframe" >
                                        <span>商品维护</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <h1 title="会员"><img src="/Content/skin/default/nav/user.png" /></h1>
                <div class="list-wrap">
                    <h2>会员管理<i></i></h2>
                    <ul>
                        <li>
                            <a navid="user_manage" target="mainframe">
                                <span>会员管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="user_audit" href="users/user_audit.aspx" target="mainframe" target="mainframe">
                                        <span>审核会员</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="user_list" href="users/user_list.aspx" target="mainframe" target="mainframe">
                                        <span>所有会员</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="user_group" href="users/group_list.aspx" target="mainframe" target="mainframe">
                                        <span>会员组别</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a navid="user_log" target="mainframe">
                                <span>会员日志</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="user_point_log" href="users/point_log.aspx" target="mainframe" target="mainframe">
                                        <span>积分记录</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a navid="user_settings" target="mainframe">
                                <span>会员设置</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="user_config" href="users/user_config.aspx" target="mainframe" target="mainframe">
                                        <span>参数设置</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <h1 title="订单"><img src="/Content/skin/default/nav/order.png" /></h1>
                <div class="list-wrap">
                    <h2>订单管理<i></i></h2>
                    <ul>
                        <li>
                            <a navid="order_manage" target="mainframe">
                                <span>订单管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="order_confirm" href="order/order_confirm.aspx" target="mainframe" target="mainframe">
                                        <span>待确认订单</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="order_list" href="order/order_list.aspx" target="mainframe" target="mainframe">
                                        <span>全部订单</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a navid="order_settings" target="mainframe">
                                <span>订单设置</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="order_config" href="order/order_config.aspx" target="mainframe" target="mainframe">
                                        <span>订单参数设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="order_payment" href="order/payment_list.aspx" target="mainframe" target="mainframe">
                                        <span>支付方式设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="order_express" href="order/express_list.aspx" target="mainframe" target="mainframe">
                                        <span>配送方式设置</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-group">
                <h1 title="营销"><img src="/Content/skin/default/nav/sys.png" /></h1>
                <div class="list-wrap">
                    <h2>营销管理<i></i></h2>
                    <ul>
                        <li>
                            <a navid="sys_settings" target="mainframe">
                                <span>基础设置</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="sys_config11" href="settings/sys_config.aspx" target="mainframe" target="mainframe">
                                        <span>积分兑换设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="sys_plugin_config34" href="settings/plugin_list.aspx" target="mainframe" target="mainframe">
                                        <span>优惠券管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="sys_url_rewritevv" href="settings/url_rewrite_list.aspx" target="mainframe" target="mainframe">
                                        <span>URL配置</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a navid="sys_site_settings" target="mainframe">
                                <span>团购</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="sys_site_manage33142" href="channel/site_list.aspx" target="mainframe" target="mainframe">
                                        <span>团购管理</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="sys_channel_manage3214" href="channel/channel_list.aspx" target="mainframe" target="mainframe">
                                        <span>限时抢购</span>
                                    </a>
                                </li>
                                 
                            </ul>
                        </li>
                        <li>
                            <a navid="sys_design" target="mainframe">
                                <span>APP设置</span>
                            </a>
                            <ul>
                                <li>
                                    <a navid="sys_site_templet33" href="settings/templet_list.aspx" target="mainframe" target="mainframe">
                                        <span>系统设置</span>
                                    </a>
                                </li>
                                <li>
                                    <a navid="sys_builder_html44" href="settings/builder_html.aspx" target="mainframe" target="mainframe">
                                        <span>引导页</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>

             
        </div>
    </div>

    <div class="main-container">
        <iframe id="mainframe" name="mainframe" frameborder="0"></iframe>
    </div>



    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        //页面加载完成时
        $(function () {
            //检测IE
            if ('undefined' == typeof (document.body.style.maxHeight)) {
                window.location.href = 'ie6update.html';
            }
        });
    </script>
</body>
</html>
