@using MVCExtention;
@{
    ViewBag.Title = "扩展属性值";
    EasyCms.Model.ShopExtendInfo Se = ViewData["ShopExtendInfoEntity"] as EasyCms.Model.ShopExtendInfo;
    string typeName = Se.UsageMode > 1 ? "规格" : "属性";
    
}
<div class="lbl">
    <h1>编辑【@Se.Name】@typeName</h1>
    您可以编辑或添加<text>@typeName</text>值
</div>
<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="Edit();"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="Del( );"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{
    @Html.Partial("_Paging")

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            // prepare the data
            var source =
            {
                datatype: "json",
                cache: false,
                data:{attriID:"@ViewData["attriID"]"},
                datafields: [

		{ name: 'ID', type: 'string' },

		{ name: 'AttributeId', type: 'string' },

		{ name: 'DisplaySequence', type: 'string' },

		{ name: 'ValueStr', type: 'string' },

		{ name: 'ImageID', type: 'string' },

		{ name: 'Note', type: 'string' },

                ],
                beforeprocessing: function (data) {
                    source.totalrecords = data.total;
                },
                root: 'Rows',
                id: 'id',
                url: url,
            };
            var dataAdapter = new $.jqx.dataAdapter(source);

            $("#jqxgrid").jqxGrid(
            {
                width: "95%",
                  autoheight: true,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: pagerrenderer,
                pageSize: 20,
                pageable: true,
                columns: [


   { text: '<text>@typeName</text>值', dataField: 'ValueStr', align: "center", cellsalign: "center", type: 'string', width: 200 },

  { text: '显示顺序', dataField: 'DisplaySequence',align: "center", cellsalign: "center", type: 'string', width: 200 },
     {
         text: '操作', datafield: 'ID', align: "center", cellsalign: "center", width: 200, cellsrenderer: function (row, column, value) {

             var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";

             html +=  
                  "<a href='javascript:;' onclick='EditExtendInfo(" + row + ",false);'  >修改</a> &nbsp;&nbsp;&nbsp;" +
             "<a  href='javascript:;' onclick='deleteExtendInfo(" + row + ",false);'  >删除</a>";

             html += "</div>";
             return html;
             return
         }
     }

                ]
            });


        });
    </script>
    <script type="text/javascript">
        function Edit() {
            var rowindex = $('#jqxgrid').jqxGrid('getselectedrowindex');
            if (rowindex == -1) {
                ErrorMsg("请选择一条数据");
            } else {
                var data = $('#jqxgrid').jqxGrid('getrowdata', rowindex);

                if (data) {

                    href = "@Url.Action("Edit", new  { area="admin" })";
                    location.href = href + "/" + data.ID;
                } else { ErrorMsg("请选择一条数据"); }
            }


        }

        function Del() {
            var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');


            if (rowindexes.length == 1) {
                var data = $('#jqxgrid').jqxGrid('getrowdata', rowindexes[0]);
                href = "@Url.Action("Delete", new { area = "admin" })";
                $.post(href, { ID: data.ID }, function (d) {
                    ErrorMsg(d);
                    if (d.indexOf("成功") > -1) {
                        $("#jqxgrid").jqxGrid('deleteRow', rowindexes[0]);
                    }
                });
            } else { ErrorMsg("请选择一条数据"); }
        }
    </script>

}
