@using EasyCms.Business
@using EasyCms
@using EasyCms.Model
<div id='footer'>
    <div class="spacer"></div>
    <div class="w" style="margin: 10px 30px;">
        @{ List<HelpType> helpTypeList = new HelpTypeBll().GetFootList();

            List<HelpContent> helpList = new HelpContentBll().GetFootList();
            for (int hi = 0; hi < helpTypeList.Count; hi++)
            {
                HelpType ht = helpTypeList[hi];
                <dl class="fore@((hi + 1).ToString())">
                    <dt>@ht.Name</dt>
                    <dd>
                        @{
                            IEnumerable<HelpContent> hclist = helpList.Where(p => p.CategoryID == ht.ID);
                            foreach (var hc in hclist)
                            {
                                <div><a rel="nofollow" target="_blank" href="@Url.Action("index","help",new { id=hc.ID})">@hc.Name</a></div>
                            } 
                        }
                        
                       
                    </dd>
                </dl>

                            }
                           

        }
        
        <div id="coverage"> 
            <img src="@(CmsSessionExtend.WebSite.WeiXinImgUrl)" width="116" height="116">
        </div>
        <span class="clr"></span>
    </div>

    <div style="text-align: center;margin: 10px;">
        <div>
            @Html.Raw(CmsSessionExtend.WebSite.BeiAN) 
        </div>
    </div>
</div>
<div class="space20"></div>