<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewBag.Title</title> 
    @Styles.Render("~/bundles/webcss") 
    @Styles.Render("~/bundles/jqxcss")
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/jqx") 
</head>

<body>
    <!--头部-->
    @Html.Partial("_Head")
    <!--头部--> 
    @RenderBody() 
    @RenderSection("scripts", required: false)
    <!--底部-->
    @Html.Partial("_Footer")
    <!--底部-->
</body>
</html>
