@model AddExtendModel
@using MVCExtention;
@using EasyCms.Model
@{
    if ((int)Model.UseMode > 1)
    {
        ViewBag.Title = "添加规格";
    }
    else
    { ViewBag.Title = "添加属性"; }

    Layout = "~/Areas/Admin/Views/Shared/_LayoutEditDialog.cshtml";
}

<!--工具栏-->
<!--/工具栏-->
<dl>
    <dt>

    </dt>
    <dd>
        <table width="80%" class="borderkuang" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        @HelperExtend.img("icon-1.gif", "width:19px,height:19px")搜索：
                    </td>
                    <td>
                        分类：
                    </td>
                    <td>
                        @HelperExtend.DropDownListWithSearch("CategoryID", "分类", downInfo: new DropDownListInfo() { Url = Url.Action("GetListForDropDown", "AttributeType") })
                    </td>
                    <td>
                        名称：
                    </td>
                    <td><input type="text" id="Name"></td>
                    <td>全称：</td>
                    <td><input type="text" id="FullName"></td>

                    <td>
                        <input id="btnQry" type="button" value="搜索">
                    </td>

                </tr>

            </tbody>
        </table>
    </dd>
</dl>
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
    <table>
        <tr>
            <td>
                <input id="btnOk" type="button" value="确定">
                <input id="btnCancle" type="button" value="取消" onclick="javascript: CloseDialog();">


                <script type="text/javascript">

                    $(function () {
                        $("#btnOk").jqxButton({ width: '150', template: 'success' });
                        $("#btnCancle").jqxButton({ width: '150', template: 'info' });
                        $("#btnOk").on('click', function () {
                            var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');
                            if (rowindexes.length > 0) {

                                var userIds = "";
                                for (var i in rowindexes) {
                                    if (userIds) {
                                        userIds += ",";
                                    }
                                    var d = $('#jqxgrid').jqxGrid('getrowdata',rowindexes[i]);
                                    userIds += d.ID;

                                }
                                $.ajax({
                                    cache: false,
                                    url: "@Url.Action("SaveExtendType")",
                                    data: { ID: userIds, ptypeID: "@Model.ProductTypeID" },
                                    success: function (result) {
                                        $('#jqxgrid').jqxGrid('updatebounddata');
                                        SucessMsg(result);
                                    }
                                } );

                                SetDialogState(userIds);
                            } else {

                                ErrorMsg("请至少选择一条数据");
                            }
                        });


                    });
                </script>

            </td>
        </tr>

    </table>

</div>
<!--/列表-->
@section  scripts{


    <script type="text/javascript">
        $(function () {
            $("#Name").jqxInput({ height: '25px' });
            $("#FullName").jqxInput({ height: '25px' });
            $("#btnQry").jqxButton({ width: '100', template: 'success' });
            $("#btnQry").on("click", function () { $('#jqxgrid').jqxGrid('updatebounddata'); });

        });

        $(document).ready(function () {

            var url = "@Url.Action("GetListWithSearch", "ShopExtendInfo")";
            var datafields = [

  { name: 'ID' },
  { name: 'Name' },
  { name: 'UnitText' },
  { name: 'ShowType' },
  { name: 'DisplayOrder' },
  { name: 'CategoryName' },
  { name: 'UseAttrImg' },
  { name: 'UseDefineImg' },
  { name: 'UsageMode' },
  { name: 'IsCanSearch' },

            ];
            var columns = [
                 { text: '分类', dataField: 'CategoryName', cellsalign: "left", width: 80 },
  { text: '全称', dataField: 'FullName', cellsalign: "left", width: 80 },
     { text: '名称', dataField: 'Name', cellsalign: "left", width: 80 },
  { text: '单位', dataField: 'UnitText', width: 50 },

  { text: '展示方式', dataField: 'ShowType', width: 80,@HelperExtend.ParseEnum(typeof(AttrShowType)) },
  { text: '使用图标', dataField: 'UseAttrImg', width: 80,@HelperExtend.Parsebool() },

            ];
            CreateGrid("jqxgrid", url, datafields, columns, {
                isMutilSelect: true, adapter: {
                    formatData: function (data) {
                        data.CategoryID = $("#CategoryID").val();
                        data.Name = $("#Name").val();
                        data.FullName = $("#FullName").val();
                        data.PTypeID = "@Model.ProductTypeID";
                        data.UsageMode = "@Model.UseMode";
                    }
                }
            });


        });
    </script>
}
