@model EasyCms.Model.LoginModel
@{
    Layout = null;
    ViewBag.Title = "登录";
}

<!DOCTYPE html>
<html>
<head>
    <script>

       
        function clearCookie() {
            var keys = document.cookie.match(/[^ =;]+(?=\=)/g);
            if (keys) {
                for (var i = keys.length; i--;)
                    document.cookie = keys[i] + '=0;expires=' + new Date(0).toUTCString()
            }
        }
        clearCookie();
    </script>
    <title>我在山东APP后台管理系统--登录</title>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/skin/images/login.css")" rel="stylesheet" />

</head>
<body id=loginFrame>
    <div id=header>
        <div id=logo>
            <a title="我在山东APP"></a>
        </div>
    </div>
    <div id=loginBox>
        <div id=loginBoxHeader></div>
        <div id=loginBoxBody>
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <ul class=floatLeft>
                    <li>
                        <h4>请用您的管理账号登录</h4>
                    </li>


                    <li>
                        <p>管理账号:</p>

                        @Html.TextBoxFor(m => m.Account)
                        @Html.ValidationMessageFor(m => m.Account)

                    </li>
                    <li>
                        <p>密码:</p>
                        @Html.PasswordFor(m => m.Pwd )
                        @Html.ValidationMessageFor(m => m.Pwd)


                    </li>
                    <li class=highlight>
                        <input type="submit" value="登录" id="loginBtn" class="btn btn-default" />
                        @*<input id=loginBtn onclick=this.blur(); value=登录 type=submit>*@
                        @*<a id=regBtn href="" target=_blank>注册新账号</a>*@
                        <a class=highlight
                           href="" target=_blank>忘记密码？</a>
                    </li>
                    <li>@Html.ValidationSummary()</li>

                </ul>

            }



            <div class=floatRight>
                欢迎使用我在山东APP 后台管理系统，在这里您可以发布最新的新闻资讯，同时还能够发布最新的商品信息,及管理会员的最新订单。</br>商城制造者-专注于B2C商城系统设计
            </div><br clear=all>
        </div>
        <div id=loginBoxFooter></div>
    </div>
    <div id=footer>@@我在山东 copyRight2015</div>
    
</body>
</html>
