<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/jqxcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqx")
</head>

<body class="mainbody">
  
    @Html.Partial("_Location")
    @using (Html.BeginForm("Save", null))
    {
        @RenderBody()
        @Html.Partial("_Msg")
        @Html.Hidden("IsContinueAdd")
    <!--工具栏-->
        <div class="page-footer">
            <div class="btn-wrap">
                <input type="submit" onclick="$('#IsContinueAdd').val(1)" value="保存后继续新增" class="btn" />
                <input type="submit" onclick="$('#IsContinueAdd').val(0)" value="提交保存" class="btn" />
                <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
            </div>
        </div>
    <!--/工具栏-->

    }


    @RenderSection("scripts", required: false)

</body>
</html>
