@model ShopCategory
@{
    ViewBag.Title = "编辑商品分类";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>
                <li><a href="javascript:;">扩展选项</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())



    @Html.ValidationSummary()

    @Html.Partial("_HelpEdit", new HelpEditModel()
{
    IsTree = true,
    DisplayField = "ParentName",
    DisplayFieldValue = Model.ParentName,
    Hint = "空为一级分类",
    Lable = "上级分类",
    ValueField = "ParentID",
    ValueFieldValue = Model.ParentID?? string.Empty ,
    Columns = @"[
                   { text: '编号', dataField: 'Code',   width: 200, cellsalign: 'left'},
                    { text: '名称', dataField: 'Name',  width:  300  }  ]",
    DataFields = @"[

               { name: 'ID', type: 'string' },
               { name: 'Code', type: 'string' },  { name: 'PriceArea', type: 'string' },
{ name: 'Name', type: 'string' },{ name: 'AssociatedProductType', type: 'string' },
               { name: 'ParentID', type: 'string' }
                            ]",
    HelpTitle = "选择上级分类",
    ReturnDisplayField = "Name",
    ReturnValueField = "ID",
    SearchField = "Name",
    Url = Url.Action("GetListForSelecte"),
    OnOk= "onOk"

})
    
 
    
    @HelperExtend.TextBox("Code", "编号", defaultval: Model.Code, hint: "*编号不能重复")
    @HelperExtend.TextBox("Name", "名称", defaultval: Model.Name, hint: "*名称不能重复.")
    @HelperExtend.DropDownList("AssociatedProductType", "商品类型", defaultval: Model.AssociatedProductType, hint: "", downInfo: new DropDownListInfo() { Url = Url.Action("GetListForSelecte", "ShopProductType") })
    @HelperExtend.ImageUpLoad("SmallLogo", "小图标", Model.RecordStatus == Sharp.Common.StatusType.add, defaultval: Model.SmallLogo, maxLength: 1)
    @HelperExtend.ImageUpLoad("BigLogo", "大图标", Model.RecordStatus == Sharp.Common.StatusType.add, defaultval: Model.BigLogo, maxLength: 1)
    @HelperExtend.TextArea("PriceArea", "价格范围", defaultval: Model.PriceArea, hint: "<br/>多个之间用换行间隔，格式如0-100，100-200，200- 最后一个可以为空例如200-")
    @HelperExtend.RadioGroup("IsShow", "首页显示", "false,true", "否,是", defaultval: Model.IsShow,hint:"首页会显示该分类的推荐商品")
    @HelperExtend.TextBox("GroupNo", "分组号", defaultval: Model.GroupNo, hint: "如果分组号不为空，且同级别中包含同类分组的，则在分类导航中作为一组显示")
     @HelperExtend.RadioGroup("HasIndex", "单独分类页", "false,true", "否,是", defaultval: Model.HasIndex)
    @HelperExtend.TextBox("IndexUrl", "分类首页地址", defaultval: Model.IndexUrl, hint: "*注意url中要包含{0} 以替换分类标识")
      @HelperExtend.RadioGroup("IsEnable", "启用", "false,true", "否,是", defaultval: Model.IsEnable)
    @HelperExtend.Number("OrderNo", "显示顺序", defaultval: Model.OrderNo)
    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note)
</div>
<div class="tab-content" style="display:none">
    @HelperExtend.TextBox("PageTitle", "页面标题", defaultval: Model.PageTitle)
    @HelperExtend.TextArea("KewWord", "页面关键字", defaultval: Model.KewWord)
    @HelperExtend.TextArea("Description", "页面描述", defaultval: Model.Description)

</div>
@section  scripts{


    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Code").val(); },
                                IsCode: true
                            }
                        }
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符"),
                        remote: "同级分类下编号重复"
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "同级分类下名称重复"
                    }
                },
                errorPlacement: errorPlace,
                showErrors: function (errorMap, errorList) {
                    $('#jqxLoader').jqxLoader('close');
                    this.defaultShowErrors();
                }

            });
        })
    </script>

    <script type="text/javascript">

        
        function onOk(data) {
            if (data.length == 1) {
                 
                $("#PriceArea").val(data[0].PriceArea);
            
               $("#DropDownListAssociatedProductType").jqxDropDownList('val',  data[0].AssociatedProductType); 
               $("#AssociatedProductType").val(data[0].AssociatedProductType);
            } else { ErrorMsg("请选择一条数据"); }
        }

    </script>
}
