@model ShopProductType
@{
    ViewBag.Title = "编辑商品类型";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>
                <li><a href="javascript:;">规格</a></li>
                <li><a href="javascript:;">扩展属性</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">

    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())

    @Html.ValidationSummary()

    @HelperExtend.TextBox("Code", "商品类型编号", defaultval: Model.Code, hint: "*编号不能重复")
    @HelperExtend.TextBox("Name", "商品类型名称", defaultval: Model.Name, hint: "*名称不能重复.")


    @{//获取所有商品类型
         string codes = string.Empty;
    string names = string.Empty;
    bool[] vals = null;
    List<ShopBrandInfo>
    ptList = new EasyCms.Business.ShopProductTypeBll().GetListWithProductType(Model.ID, Model.RecordStatus);
    if (ptList.Count > 0)
    {

      vals = new bool[ptList.Count];
    int i = 0;
    foreach (ShopBrandInfo item in ptList)
    {
    if (!string.IsNullOrEmpty(codes))
    {
    codes += ",";
    names += ",";
    }
    codes += "sbd" + item.ID;
    names += item.Name;
    vals[i++] = item.IsSelected;
    }
}
       HelperExtend.CheckBoxList("关联商品品牌", codes, names, defaultval: vals);
    }
    @HelperExtend.TextArea("Note", "备注", defaultval: Model.Note)
</div>
<div class="tab-content" style="display:none">
    <h1>添加新规格</h1>
    添加供客户可选的规格,如服装类型商品的颜色、尺码。

    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="javascript:;" onclick="javascript: AddExtend(1, '添加新的规格');  "><i></i><span>添加新规格</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="jqxGg"></div>

</div>
<div class="tab-content" style="display:none">
    <h1>添加扩展属性</h1>
    商品类型是一系列属性的组合，可以用来向客户展示某些商品具有的特有的属性。
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="javascript:;" onclick="javascript: AddExtend(0, '添加扩展属性');  "><i></i><span>添加扩展属性</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="jqxKzsx"></div>
</div>
@section  scripts{


    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("#form1").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Code").val(); },
                                IsCode: true
                            }
                        }
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符"),
                        remote: "编号重复"
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "名称重复"
                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });
            if ("@TempData.ContainsKey("IsSuccess").ToString().ToLower()" == "true") {
                SucessMsg("@TempData["IsSuccess"]");
            }
        })
    </script>

    <script type="text/javascript">
        /*加载扩展属性和规格*/
        $(function () {
            /*加载规格*/
            var url = "@Url.Action("GetAttrList")";
            var datafields = [{ name: 'ID' }, { name: 'Name' }, { name: 'ShowType' }, { name: 'UnitText' }, { name: 'DisplayOrder' },
        { name: 'ProductTypeID', type: 'UseAttrImg' }, { name: 'UseDefineImg' }, { name: 'UsageMode' }, { name: 'Vals' }];
            var columns = [
    {
        text: '规格类型', dataField: 'UseAttrImg', width: 100, cellsalign: "left", cellsrenderer: function (row, column, value) {
            var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
            if (value) {
                html += "【图片】";
            } else html += "【文字】";
            html += "</div>";
            return html;
        }
    },
    { text: '规格名称', dataField: 'Name', cellsalign: "left" },
    { text: '规格值', dataField: 'Vals' },
    { text: '顺序', dataField: 'DisplayOrder', width: 80 },
      {
          text: '操作', datafield: 'ID', align: "center", cellsalign: "center", width: 200, cellsrenderer: function (row, column, value) {

              var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";

              html += "<a  href='javascript:;' onclick='AddValue(" + row + ",true);'   >添加规格值</a>&nbsp;&nbsp;&nbsp;" +
                   "<a href='javascript:;' onclick='EditExtendInfo(" + row + ",true);'  >编辑</a> &nbsp;&nbsp;&nbsp;" +
              "<a  href='javascript:;' onclick='deleteExtendInfo(" + row + ",true);'  >删除</a>";

              html += "</div>";
              return html;

          }
      }];
            CreateGrid("jqxGg", url, datafields, columns, {
                isMutilSelect: false, data: {
                    data: {
                        ptypeid: $("#ID").val(),
                        isGg: true
                    }
                }, grid: { autoheight: true }
            });


            /*加载扩展属性*/

            /*加载规格*/
            var urlattr = "@Url.Action("GetAttrList")";

            var columnsattr = [

    { text: '属性名称', dataField: 'Name', cellsalign: "left" },
    { text: '单位', dataField: 'UnitText' },
            { text: '展示方式', dataField: 'ShowType' },
            { text: '属性值', dataField: 'Vals' },

    { text: '顺序', dataField: 'DisplayOrder', width: 80 },
       {
           text: '操作', datafield: 'ID', align: "center", cellsalign: "center", width: 200, cellsrenderer: function (row, column, value) {

               var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";

               html += "<a  href='javascript:;' onclick='AddValue(" + row + ",false);'   >添加属性值</a>&nbsp;&nbsp;&nbsp;" +
                    "<a href='javascript:;' onclick='EditExtendInfo(" + row + ",false);'  >编辑</a> &nbsp;&nbsp;&nbsp;" +
               "<a  href='javascript:;' onclick='deleteExtendInfo(" + row + ",false);'  >删除</a>";

               html += "</div>";
               return html;
               return
           }
       }];
            CreateGrid("jqxKzsx", urlattr, datafields, columnsattr, {
                isMutilSelect: false, data: {
                    data: {
                        ptypeid: $("#ID").val(),
                        isGg: false
                    }
                }, grid: { autoheight: true }
            });


        });

    </script>

    <script type="text/javascript">
        $(function () {
            Dialog.create("addGg", "添加规格", "@Url.Content("~/Content/Images/movie.png")");

        });

        function AddExtend(action, title) {
            Dialog.open("@Url.Action("EditExtend")/" + action+"/"+$("#ID").val(), { width: 700, height: 500 }, title, function (grid) {
                var content = grid[0].textContent;
                if (content == "  添加扩展属性") {

                    $('#jqxKzsx').jqxGrid('updatebounddata');
                }else
                {
                    $('#jqxGg').jqxGrid('updatebounddata');
                }
               
            });
        }

    </script>
}

