@model EasyCms.Model.ShopCategory
@using EasyCms.Business
@using EasyCms.Model
@using System.Data;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
@Styles.Render("~/bundles/listcss");
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: none;
        }

    #tcdPageCode {
        padding: 15px 20px;
        text-align: right;
        color: #ccc;
    }

        #tcdPageCode a {
            display: inline-block;
            color: #428bca;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
            border: 1px solid #ddd;
            margin: 0 2px;
            vertical-align: middle;
            -webkit-transition: all .2s ease-out;
        }

            #tcdPageCode a:hover {
                text-decoration: none;
                border: 1px solid #428bca;
            }

        #tcdPageCode span.current {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
            margin: 0 2px;
            color: #fff;
            background-color: #428bca;
            border: 1px solid #428bca;
            vertical-align: middle;
        }

        #tcdPageCode span.disabled {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
            margin: 0 2px;
            color: #bfbfbf;
            border: 1px solid #bfbfbf;
            cursor: not-allowed;
            vertical-align: middle;
        }
</style>
<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.page.js"></script>
<body>
    <div class="floor">


        <div class="m-list" style="margin-left:210px;">
            <div class="m-list-wrap">
                <div id="J_filter" class="filter">
                    <div class="f-line top">
                        <div class="f-sort">
                            <a href="javascript:;" id="sort_all" data-sort="" class="sort curr">综合排序<i></i></a>
                            <a href="javascript:;" id="sort_sales" data-sort='' class="sort">销量<i></i></a>
                            <a href="javascript:;" id="sort_price" data-sort='SalePrice desc' class="sort">价格<i></i></a>
                            <a href="javascript:;" id="sort_comment" data-sort='' class="sort">评论数<i></i></a>
                        </div>

                        <div id="J_topPage" class="f-pager">
                            <span class="fp-text"><b>1</b><em>/</em><i>100</i></span>
                            <a class="fp-prev disabled" href="javascript:;">&lt;</a>
                            <a class="fp-next" href="javascript:;">&gt;</a>
                        </div>
                        <div class="f-result-sum">共<span id="J_resCount" class="num">5.0万</span>件商品</div>
                    </div>
                </div>
            </div>

            <div id="J_goodsList" class="goods-list-v1 ">
                <ul id="J_goodsList_ul"></ul>
            </div>
        </div>
        <div id="tcdPageCode"></div>
        <div class="side-list" style="height: 100px; width: 210px;  position: absolute; top: 0;">
            <div id="side-cat-list" style=" border: 1px solid #ddd; margin-bottom: 10px; margin-right: 10px;">
                <div class="mt">
                    <h3>
                        商品类别
                    </h3>
                </div>
                <div class="lb">

                    @{

                        List<ShopCategory> list = new EasyCms.Business.ShopCategoryBll().GetListWithNavi(null, 3);
                        IEnumerable<ShopCategory> first = list.Where(p => p.ParentID == Model.ID);

                        if (Model.Depth == 1)
                        {
                            first = list.Where(p => p.ID == Model.ID);
                        }
                        if (Model.Depth == 2)
                        {
                            first = list.Where(p => p.ID == Model.ParentID);
                        }
                        foreach (var item in first)
                        {
                            <div class="lb-item">
                                <div class="lb-title">@item.Name</div>


                                <ul>
                                    @{
                            IEnumerable<ShopCategory> second = list.Where(p => p.ParentID == item.ID);
                            foreach (var sitem in second)
                            {
                                string classname = sitem.ID == Model.ID ? "curr" : "";

                                <li><a href="@sitem.ID" class="@classname">@sitem.Name</a></li>
                            }
                                    }
                                </ul>
                            </div>


                        }

                    }




                </div>
            </div>
        </div>
    </div>
    <script>
        var sortmodel = "";
        function getSortAttr() {
            var sortinfo = $(".f-sort .curr").attr("data-sort");

            return sortinfo;
        }

        var page = 1;
        
        $(function () {

            $(".f-sort .sort").click(function () {
                if ($(this).hasClass("curr") && $(this).attr("id") != "sort_sales") {
                    return;
                }
                $(".f-sort .sort").removeClass("curr");
                $(this).addClass("curr");
                if ($(this).hasClass("down")) {
                    $(this).removeClass("down");
                    $(this).addClass("up");
                    $(this).attr("data-sort", "SaleCounts desc");
                }
                else if ($(this).hasClass("up")) {
                    $(this).removeClass("up");
                    $(this).addClass("down");
                    $(this).attr("data-sort", "SaleCounts");
                } else if ($(this).attr("id") == "sort_sales") {
                    $(this).addClass("up");//高到低
                    $(this).attr("data-sort", "SaleCounts desc");
                } else {
                    $(".f-sort .sort").removeClass("up");
                    $(".f-sort .sort").removeClass("down");
                }
                getSortAttr();
                initWrap();
            });


            $("#J_goodsList_ul").delegate("li", "mouseenter", function () {
                $(this).addClass("hover");
            }).delegate("li", "mouseleave", function () {
                $(this).removeClass("hover");
            });

            initWrap();


        });

        var p = false;
        function initWrap() {
            var data = getData(getSortAttr(), page);
            var ul = $("#J_goodsList_ul");
            if (!p) {
                $("#tcdPageCode").createPage({
                    pageCount: data.data.TotalPageCount,
                    current: data.data.PageIndex,
                    backFn: function (p) {
                        console.log(p);
                        page = p;
                        initWrap();
                    }
                });
                p = true;
            }
            $("#J_resCount").html(data.data.TotalRecourdCount);
            $(".fp-text b").html(data.data.PageIndex);
            $(".fp-text i").html(data.data.TotalPageCount);
            ul.empty();
            for (var item in data.data.Data) {
                ul.append(getItem(data.data.Data[item]));
            }
        }

        function getItem(obj) {
            var res = [];
            res.push(" <li class='gl-item '>");
            res.push("<div class='gl-i-wrap'>");
            res.push("<div class='p-img'><a target='_blank' title='' href='/Product/Index/" + obj.ID + "'> <img width='220' height='220' class='err-product' src='" + obj.FilePath + " '> </a> </div>");
            res.push("<div class='p-price'><strong><em>￥</em><i>" + obj.SalePrice + "</i></strong><div class='p-icons'><i class='goods-icons-s1' title=''>" + obj.TypeName + "</i></div> </div>");
            res.push("<div class='p-name p-name-type-2'>");
            res.push("<a target='_blank' title='' href='/Product/Index/" + obj.ID + "'> <em>  " + obj.Name + "  </em>");
            res.push("<i class='promo-words'> </i> </a></div>");
            res.push("<div class='p-commit'><strong>已有<a target='_blank' href=''>6929</a>人评价</strong> </div>");

            res.push("<div class='p-operate'><a class='p-o-btn contrast J_contrast'  target='_blank' href='/Product/Index/" + obj.ID + "'><i></i>看看</a>");
            res.push("<a class='p-o-btn focus J_focus'  href='javascript:;'><i></i>关注</a>");
            res.push("<a class='p-o-btn addcart' href='#'  target='_blank'><i></i>加入购物车</a></div>");
            res.push("</div> </li>");
            return res.join('');
        }


        function getData(sortype, page) {
            var reobj;
            $.ajax({
                url: "/api/app/GetProductsByCategory/@Model.ID/" + page + "/" + sortype,
                type: "get",
                data: {},
                dataType: "json",
                async: false,
                success: function (reval) {

                    reobj = reval;
                },
                error: function (err) {
                    throw err.responseText;
                    return false;
                }
            });
            return reobj;
        }
    </script>
</body>
</html>
