@using MVCExtention;
@{
    ViewBag.Title = "退单管理";
}
<style>
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    td {
        padding-left: 1px;
    }
</style>



<dl>
    <dt>

    </dt>
    <dd>
        <table width="100%" class="borderkuang" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td rowspan="3" width="20">
                        @HelperExtend.img("icon-1.gif", "width:19px,height:19px")搜索 
                    </td>
                    <td width="50">
                        退单号：
                    </td>
                    <td>
                        <input type="text" id="returnOrderNo">
                    </td>
                    <td width="60">
                        订单编号：
                    </td>
                    <td>
                        <input type="text" id="OrderNo">
                    </td>

                    <td width="60">
                        收货姓名：
                    </td>
                    <td>
                        <input type="text" id="ShrMc">
                    </td>
                    <td width="60">
                        会员账号：
                    </td>
                    <td>
                        <input type="text" id="AccountName">
                    </td>
                   
                </tr>
                <tr>

                    <td width="60">
                        开始日期：
                    </td>

                    <td>

                        <div id='StartOrderDate'>  </div>

                    </td>
                    <td width="10">
                        截止日期

                    </td>
                    <td>

                        <div id='EndOrderDate'>  </div>

                    </td>
                    <td>
                        电话：
                    </td>
                    <td>
                        <input type="text" id="ShrTel">
                    </td>
                   
                </tr>
                <tr>
                    <td> 退货状态：</td>
                    <td>
                        @HelperExtend.DropDownListEnum("OrderStatus", enumType: typeof(EasyCms.Model.UserDjStatus))


                    </td>
                   
                    <td>退款状态：</td>
                    <td height="35">
                        @HelperExtend.DropDownListEnum("PayStatus", enumType: typeof(EasyCms.Model.ReturnMoneyStatus))


                    </td>


                    <td>物流状态：</td>
                    <td>

                        @HelperExtend.DropDownListEnum("ShipStatus", enumType: typeof(EasyCms.Model.LogisticStatus))
                    </td>
                    <td colspan="3">
                        <input id="btnQry" type="button" value="搜索">
                    </td>

                </tr>
            </tbody>
        </table>
    </dd>
</dl>

<!--工具栏-->

<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="javascript:;" onclick="Publish(0);"><i></i><span>查看</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(7 );"><i></i><span>审核</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(10 );"><i></i><span>取回货物</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(11 );"><i></i><span>确认退款</span></a></li>
                    <li><a class="expandable" href="javascript:;" onclick="exportOrder();"><i></i><span>导出</span></a></li>

                </ul>
            </div>
        </div>


    </div>

</div>
<div class="content-tab">
    <div class="content-tab-ul-wrap">
        <ul>
            <li><a class="selected" href="javascript:;">近三个月退货单</a></li>
            <li><a href="javascript:;">等待审核</a></li>
            <li><a href="javascript:;">等待取回货物</a></li>
            <li><a href="javascript:;">等待退款</a></li>
            <li><a href="javascript:;">已完成</a></li>
        </ul>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid">
    </div>
</div>
<!--/列表-->
@section  scripts{
    <script type="text/javascript">
        function exportOrder() {
            var data = {}; 
            data.returnOrderNo = $("#returnOrderNo").val();
            data.OrderNo = $("#OrderNo").val();
            data.ShrMc = $("#ShrMc").val();
            data.ShrTel = $("#ShrTel").val(); 
            data.AccountName = $("#AccountName").val(); 
            data.StartOrderDate = $("#StartOrderDate").val(); 
            data.EndOrderDate = $("#EndOrderDate").val(); 
            data.PayStatus = $("#PayStatus").val(); 
            data.ShipStatus = $("#ShipStatus").val(); 
            data.OrderStatus = $("#OrderStatus").val();
            $.ajax( {cache: false,
                url: "@Url.Action("Export")",
                data: data,
            success: function (result) {
                window.location ="@Url.Action("GetFile", "SysExportSet")" + "?filePath=" + result.data;   }  }    );

        }
        $(function () {
            Dialog.create("@Url.Content("~/Content/Images/movie.png")");
        });
        function Publish(action, id) {
            var operName = "";

            switch (action) {
                case 7:
                    operName = "审核"; break;
                case 10:
                    operName = "取货"; break;
                case 11:
                    operName = "退款"; break;

            }
            if (!id) {
                var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindex');

                if (rowindexes < 0) {
                    ErrorMsg("请选择要操作的退货单");
                    return;
                }
                var d = $('#jqxgrid').jqxGrid('getrowdata', rowindexes);
                if (action > 0) {
                    if (action != d.Status) {
                        ErrorMsg("当前退货单已" + operName + "完成，不能再执行该操作");
                        return;
                    }
                }
                id = d.ID;
            }
            var title = "正在" + operName + "退货单【" + id + "】的详细信息";

            Dialog.open("@Url.Action("Edit")/" + id + "/" + action, title, {
                onClose: function () {
                    if (GetThisDialogState()) {
                        $('#jqxgrid').jqxGrid('updatebounddata');
                    }
                }
            }, { width: 850, height: 580 });

        }
    </script>
    <script type="text/javascript">

        $(function () {

            $(".content-tab-ul-wrap ul li").click(function () {
                $("#PayStatus").jqxDropDownList('uncheckAll');
                $("#ShipStatus").jqxDropDownList('uncheckAll');
                $("#OrderStatus").jqxDropDownList('uncheckAll');
                $("#returnOrderNo").val("");
                $("#OrderNo").val("");
                $("#ShrMc").val("");
                $("#AccountName").val("");
                $("#StartOrderDate").val("");
                $("#EndOrderDate").val("");
                var selectType = $(this).index();
                switch (selectType) {
                    case 0://近三个月退货单
                        $('#EndOrderDate').jqxDateTimeInput('setDate', new Date());
                        $('#StartOrderDate').jqxDateTimeInput('setDate', get3MonthBefor());
                        break;
                    case 1://等待审核
                        $("#OrderStatus").jqxDropDownList('checkIndex', 2);
                        break;
                    case 2://等待取回货物
                        $("#OrderStatus").jqxDropDownList('checkIndex', 4);
                        break;
                    case 3://等待退款
                        $("#OrderStatus").jqxDropDownList('checkIndex', 5);

                        break;
                    case 4://已完成
                        $("#OrderStatus").jqxDropDownList('checkIndex', 6);
                        break;
                }
                $('#jqxgrid').jqxGrid('updatebounddata');
            });
            $("#returnOrderNo").jqxInput({ height: '20px' });
            $("#OrderNo").jqxInput({ height: '20px' });
            $("#ShrTel").jqxInput({ height: '20px' });
            $("#ShrMc").jqxInput({ height: '20px' });
            $("#AccountName").jqxInput({ height: '20px' });

            $("#StartOrderDate").jqxDateTimeInput({ formatString: "yyyy-MM-dd", width: 100, height: '20px', showCalendarButton: true });
            $("#EndOrderDate").jqxDateTimeInput({ formatString: "yyyy-MM-dd", width: 100, height: '20px', showCalendarButton: true });


            $('#EndOrderDate').jqxDateTimeInput('setDate', new Date());
            $('#StartOrderDate').jqxDateTimeInput('setDate', get3MonthBefor());
            $("#btnQry").jqxButton({ width: '150', template: 'success' });


            $("#btnQry").on("click", function () { $('#jqxgrid').jqxGrid('updatebounddata'); });

        });


    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var url = "@Url.Action("GetList")";
            var url = "@Url.Action("GetList")";
            var datafields = [
                     { name: 'ID' },
                     { name: 'OrderId' },
                     { name: 'UserId' },
                     { name: 'UserName' },
                     { name: 'CreatedDate' },
                     { name: 'SupplierId' },
                     { name: 'SupplierName' },
                     { name: 'ActualSalesTotal' },
                     { name: 'Amount' },
                     { name: 'AmountAdjusted' },
                     { name: 'AmountActual' },
                     { name: 'ServiceType' },
                     { name: 'Credential' },
                     { name: 'Description' },
                     { name: 'ImageUrl' },
                     { name: 'ReturnType' },
                     { name: 'PickRegionID' },
                     { name: 'PickRegion' },
                     { name: 'PickAddress' },
                     { name: 'PickZipCode' },
                     { name: 'PickTelPhone' },
                     { name: 'PickEmail' },
                     { name: 'ShippingModeId' },
                     { name: 'ShippingModeName' },
                     { name: 'ShipOrderNumber' },
                     { name: 'ExpressCompanyName' },
                     { name: 'ExpressCompanyAbb' },
                     { name: 'ReturnTrueName' },
                     { name: 'ReturnBankName' },
                     { name: 'ReturnCard' },
                     { name: 'ReturnCardType' },
                     { name: 'ContactName' },
                     { name: 'ContactPhone' },
                     { name: 'Status' },
                     { name: 'LogisticStatus' },
                     { name: 'RefuseReason' },
                     { name: 'Remark' },
                     { name: 'ReturnMoneyStatus' },
                     { name: 'ReturnMoney' },
                     { name: 'IsShopReviceGood' }];
            var columns = [
 {
     text: '操作', width: 200, cellsrenderer: function (row, column, value, html, colInfo, rowData) {
         var operName = "";
         /*  无,
       等待审核 = 7,
       审批不通过 = 8,
       取货中 = 10,
       等待退款 = 11,
       已完成 = 12,
       已取消 = 13*/
         switch (rowData.Status) {
             case 7:
                 operName = "审核"; break;
             case 10:
                 operName = "取货"; break;
             case 11:
                 operName = "退款"; break;
         }

         var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
         html +=
              "<a href='javascript:;' onclick='Publish(0,\"" + rowData.ID + "\");'  >详细信息</a> &nbsp;&nbsp;&nbsp;";
         if (operName) {
             html += "<a  href='javascript:;' onclick='Publish(" + rowData.Status + ",\"" + rowData.ID + "\");' >" + operName + "</a>";
         }

         html += "</div>";
         return html;
     }
 },
 { text: '退单号', dataField: 'ID', cellsalign: "left", width: 100 },

  { text: '订单号', dataField: 'OrderId', cellsalign: "left", width: 100 },
  { text: '会员名称', dataField: 'UserName', cellsalign: "left", width: 100 },

  { text: '申请日期', dataField: 'CreatedDate', width: 100 },
  { text: '退货原因', dataField: 'Description', cellsalign: "left", width: 100 },
  { text: '联系人', dataField: 'ContactName', cellsalign: "left", width: 100 },
  { text: '联系电话', dataField: 'ContactPhone', cellsalign: "left", width: 100 },
      { text: '拒绝原因', dataField: 'RefuseReason', cellsalign: "left", width: 100 },
  { text: '退款金额', dataField: 'ReturnMoney', cellsalign: "right", width: 100 },
    { text: '状态', dataField: 'Status', cellsalign: "left", width: 100,@HelperExtend.ParseEnum(typeof(EasyCms.Model.UserDjStatus)) },
    { text: '物流状态', dataField: 'LogisticStatus', width: 100,@HelperExtend.ParseEnum(typeof(EasyCms.Model.LogisticStatus)) },
  { text: '退款状态', dataField: 'ReturnMoneyStatus', width: 100,@HelperExtend.ParseEnum(typeof(EasyCms.Model.ReturnMoneyStatus)) }];


            CreateGrid("jqxgrid", url, datafields, columns, {
                adapter: {
                    formatData: function (data) {


                        data.returnOrderNo = $("#returnOrderNo").val();
                        data.OrderNo = $("#OrderNo").val();
                        data.ShrMc = $("#ShrMc").val();
                        data.ShrTel = $("#ShrTel").val();

                        data.AccountName = $("#AccountName").val();

                        data.StartOrderDate = $("#StartOrderDate").val();

                        data.EndOrderDate = $("#EndOrderDate").val();

                        data.PayStatus = $("#PayStatus").val();

                        data.ShipStatus = $("#ShipStatus").val();

                        data.OrderStatus = $("#OrderStatus").val();
                    }

                }, grid: { localization: "zh-Hans" }
            });

        });
    </script>
}
