@model EasyCms.Model.ShopProductInfo
@using EasyCms.Business
@using EasyCms.Model
@{
    ViewBag.Title = "新闻资讯--" + EasyCms.CmsSessionExtend.WebSite.Name;


}
@Styles.Render("~/bundles/productcss")
@Styles.Render("~/bundles/newscss")
<div class="floor">
    @FunctionExtend.HotProduct(StationMode.热卖商品)
    
    <div id='news-wrap'>
        <div class="mt">
            <h2>
                新闻资讯
            </h2>
        </div>
        <div class="mc">
            <ul>
                 
            </ul>
        </div>




    </div>
    <div class="pagebar pagecenter cl" data-pages="675">
        <ul class="pagination-media pagination pagination-md cl">
            <li class="firstpage disabled"><a href="javascript:;" class="first" rel="nofollow">首页</a></li>
            <li class="prevpage disabled"><a href="javascript:;" class="prev" rel="nofollow">上一页</a></li>
            <li class="pagebox active"><span>1</span></li>
            <li class="pagebox"><a href="feed/index/page/2.html">2</a></li>
            <li class="pagebox"><a href="feed/index/page/3.html">3</a></li>
            <li class="pagebox"><a href="feed/index/page/4.html">4</a></li>
            <li class="pagebox"><a href="feed/index/page/5.html">5</a></li>
            <li class="pagejumpbox">
                <span class="pagejump">
                    <label>
                        <input type="text" name="custompage" size="3" title="输入页码，按回车快速跳转" value="1" data-hash="">
                        <a href="feed/index/page/.html" class="pagejump_link hide"></a>
                        <span title="共 675 页"> / 675 页</span>
                    </label>
                </span>
            </li>
            <li class="nextpage"><a href="feed/index/page/2.html" class="nxt">下一页</a></li>
            <li class="lastpage"><a href="feed/index/page/675.html" class="last">尾页</a></li>
        </ul>
    </div>
</div>



<div class="space20"></div>
@section  scripts{

    <script type="text/javascript">

        $(function () {


            $.ajax(
                {
                    url: "@Url.Action("GetNews")",
                    data: { pageNum: 1, pageSize: 20 },
                    dataType: "json",
                    success: function (result) {
                        var pageNum = result.pageNum;//当前页号从1开始计数
                        var totalPageCount = result.pageCount;//总页数
                        var totalRecordCount = result.recourdCount;//总记录数
                        $("#news-wrap>.mc").find("ul").empty();//先清空现有数据
                        for (var i = 0; i < result.data.length; i++) {
                            var item = result.data[i];
                            var newsID = item.ID;
                            var newsTitle = item.NewsTitle;
                            var newsDate = item.CreatedDate; 
                            @{  <text>
                            $("#news-wrap>.mc").find("ul").append("<li><div><a href='@Url.Action("Detail")" + "/" + newsID + "'><font class='skcolor_ljg'></font>" + newsTitle
                            + "</a></div><span>" + newsDate + "</span> <div class='line'></div> </li>"); </text>

                            }

                        }

                        if (totalPageCount < 2) {
                            $(".pagebar").hide();//只有1页时隐藏
                        } else {
                            $(".pagebar").show();//有多页时显示页数 并控制该显示那些页数
                        }

                    }
                });


        });


    </script>

}
