@using MVCExtention;
@{
    ViewBag.Title = "品牌信息";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="Edit();"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="Del( );"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{
    @Html.Partial("_Paging")

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            // prepare the data
            var source =
            {
                datatype: "json",
                cache: false,
                datafields: [ 
		{ name: 'ID', type: 'string' },

		{ name: 'Code', type: 'string' },

		{ name: 'Name', type: 'string' },
 

		{ name: 'Logo', type: 'string' }, 
		{ name: 'OrderNo', type: 'string' }  
                ],
                beforeprocessing: function (data) {
                    source.totalrecords = data.total;
                },
                root: 'rows',
                id: 'id',
                url: url,
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            var totalHeight = $(window).outerHeight();
            if (totalHeight == 0) {
                totalHeight = $(window).clientHeight();
            }
            var topHight = 50;

            var middleHeight = totalHeight - topHight;
            $("#jqxgrid").jqxGrid(
            {
                width: "95%",
                height: 490,
                source: dataAdapter,
                columnsresize: true,
                virtualmode: true,
                rendergridrows: function (params) {
                    return params.data;
                },
                pagerrenderer: pagerrenderer,
                pageSize: 20,
                pageable: true,
                columns: [
                     
{ text: '品牌名称', dataField: 'Name', type: 'string', width: 200 },
  { text: '检索拼音', dataField: 'Code', type: 'string', width: 200 }, 

  { text: '品牌图片', dataField: 'Logo', type: 'string', width: 200 },

  { text: '品牌官方地址', dataField: 'CompanyUrl', type: 'string', width: 200 },

  { text: '品牌介绍', dataField: 'Description', type: 'string', width: 200 },

  { text: '显示顺序', dataField: 'OrderNo', type: 'string', width: 200 } 

                ]
            });


        });
    </script>
    <script type="text/javascript">
        function Edit() {
            var rowindex = $('#jqxgrid').jqxGrid('getselectedrowindex');
            if (rowindex == -1) {
                ErrorMsg("请选择一条数据");
            } else {
                var data = $('#jqxgrid').jqxGrid('getrowdata', rowindex);

                if (data) {

                    href = "@Url.Action("Edit", new  { area="admin" })";
                    location.href = href + "/" + data.ID;
                } else { ErrorMsg("请选择一条数据"); }
            }


        }

        function Del() {
            var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');


            if (rowindexes.length == 1) {
                var data = $('#jqxgrid').jqxGrid('getrowdata', rowindexes[0]);
                href = "@Url.Action("Delete", new { area = "admin" })";
                $.post(href, { ID: data.ID }, function (d) {
                    ErrorMsg(d);
                    if (d.indexOf("成功") > -1) {
                        $("#jqxgrid").jqxGrid('deleteRow', rowindexes[0]);
                    }
                });
            } else { ErrorMsg("请选择一条数据"); }
        }
    </script>

}
