@model ShopProductStationMode
@{
    ViewBag.Title = "商品推荐";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using EasyCms.Model
 
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">推荐到首页</a></li>
                <li><a href="javascript:;">推荐商品</a></li>
                <li><a href="javascript:;">热卖商品</a></li>
                <li><a href="javascript:;">特价商品</a></li>
                <li><a href="javascript:;">最新商品</a></li>
                <li><a href="javascript:;">畅销精品</a></li>
                <li><a href="javascript:;">分类首页推荐</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">

    <script type="text/javascript">
        var selectType = 0;
        function AddValue(productID, type, rowindex) {

            $.post("@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "PostTj" })", { ProductID: productID, StationMode: type }, function (d) {
                $("#dataTable").jqxDataTable('deleteRow', rowindex);
                $("#HasAdddataTable").jqxDataTable('updateBoundData');
            });

        }
        function DeleteValue(StationID, rowindex) {

            $.get("@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "DeleteTj" })", { id: StationID }, function () {

                $("#HasAdddataTable").jqxDataTable('updateBoundData');
            });



        }

        $(document).ready(function () {
            $(".content-tab-ul-wrap ul li").click(function () {
                //alert($(this).index());
                selectType = $(this).index();
                $(".tab-content").show();
                $("#dataTable").jqxDataTable('updateBoundData');
                $("#HasAdddataTable").jqxDataTable('updateBoundData');
            });
            $('.TjSy').jqxSplitter({ width: '100%', height: 480, panels: [{ size: '50%' }] });
            $(".jqxExpander").jqxExpander({ width: '100%', height: 480, theme: "metro", toggleMode: 'none', showArrow: false });
            $("#BtnqryCateTj").jqxButton({ width: '100', template: "success" });
            $('#BtnqryCateTj').on('click', function () {

                var source =
            {
                dataType: "json",
                dataFields: [
                     { name: 'ID', type: 'string' },
                    { name: 'Code', type: 'string' },
                    { name: 'Name', type: 'string' },
                      { name: 'FilePath', type: 'string' },
                    { name: 'SalePrice', type: 'float' },
                    { name: 'MarketPrice', type: 'float' }
                ],
                id: 'ID',
                root: "Data",
                url: "@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetProductsByWhere" })"
            };
                var dataAdapter = new $.jqx.dataAdapter(source,
            {
                formatData: function (data) {

                    // update the $skip and $top params of the OData service.
                    // data.pagenum - page number starting from 0.
                    // data.pagesize - page size
                    data.categoryID = $("#qryTjCategory").val();
                    data.ProductName = $("#ProductName").val();
                    data.stationMode = selectType;


                    return data;
                },
                downloadComplete: function (data, status, xhr) {

                    source.totalRecords = data.TotalRecourdCount;
                    source.value = data.Data;


                },
                loadError: function (xhr, status, error) {
                    throw new Error("http://services.odata.org: " + error.toString());
                }
            });

                $("#dataTable").jqxDataTable(
                {
                    width: "99%",
                    source: dataAdapter,

                    pageable: true,
                    pageSize: 20,
                    pagerButtonsCount: 5,
                    enableHover: false,
                    selectionMode: 'none',
                    columns: [
                       {
                           text: ' ', align: 'center', dataField: 'FilePath', width: 80,
                           // row - row's index.
                           // column - column's data field.
                           // value - cell's value.
                           // rowData - rendered row's object.
                           cellsRenderer: function (row, column, value, rowData) {
                               var image = "<div style='margin: 5px; margin-bottom: 3px;'>";
                               var imgurl = value;
                               var img = '<img width="60" height="60" style="display: block;" src="' + imgurl + '"/>';
                               image += img;
                               image += "</div>";
                               return image;
                           }
                       },
                      { text: '名称', align: 'center', dataField: 'Name' },
                       { text: '市场价', align: 'center', dataField: 'MarketPrice', cellsAlign: "right", width: 50 },
                        { text: '售价', align: 'center', dataField: 'SalePrice', cellsAlign: "right", width: 50 },
                         {
                             text: '操作', align: 'center', dataField: 'ID', width: 50, cellsRenderer: function (row, column, value, rowData) {
                                 var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";

                                 html += "<a  href='javascript:;' onclick='AddValue(\"" + value + "\"," + selectType + "," + row + "  );'   >添加 </a> ";

                                 html += "</div>";
                                 return html;
                             }
                         }


                    ]
                });
            });

        });
    </script>
    <script type="text/javascript">

        $(function () {
            var source =
                {
                    dataType: "json",
                    dataFields: [
                         { name: 'ID', type: 'string' },
                          { name: 'StationID', type: 'string' },
                        { name: 'Code', type: 'string' },
                        { name: 'Name', type: 'string' },
                          { name: 'FilePath', type: 'string' },
                          { name: 'OrderNo', type: 'int' },
                        { name: 'SalePrice', type: 'float' },
                        { name: 'MarketPrice', type: 'float' }

                    ],
                    id: 'ID',
                    root: "Data",
                    url: "@Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetProductsByStation" })"
                };
            var dataAdapter = new $.jqx.dataAdapter(source,
            {
                formatData: function (data) {

                    // update the $skip and $top params of the OData service.
                    // data.pagenum - page number starting from 0.
                    // data.pagesize - page size
                    data.StationMode = selectType;


                    return data;
                },
                downloadComplete: function (data, status, xhr) {

                    source.totalRecords = data.TotalRecourdCount;
                    source.value = data.Data;


                },
                loadError: function (xhr, status, error) {
                    throw new Error("http://services.odata.org: " + error.toString());
                }
            });

            $("#HasAdddataTable").jqxDataTable(
            {
                width: "99%",
                source: dataAdapter,
                pageable: true,
                pageSize: 20,
                pagerButtonsCount: 5,
                enableHover: false,
                selectionMode: 'none',
                columns: [
                   {
                       text: ' ', align: 'center', dataField: 'FilePath', width: 80,
                       // row - row's index.
                       // column - column's data field.
                       // value - cell's value.
                       // rowData - rendered row's object.
                       cellsRenderer: function (row, column, value, rowData) {
                           var image = "<div style='margin: 5px; margin-bottom: 3px;'>";
                           var imgurl = value;
                           var img = '<img width="60" height="60" style="display: block;" src="' + imgurl + '"/>';
                           image += img;
                           image += "</div>";
                           return image;
                       }
                   },
                  { text: '名称', align: 'center', dataField: 'Name' },
                   { text: '市场价', align: 'center', dataField: 'MarketPrice', cellsAlign: "right", width: 50 },
                    { text: '售价', align: 'center', dataField: 'SalePrice', cellsAlign: "right", width: 50 },
                     { text: '顺序', align: 'center', dataField: 'OrderNo', cellsAlign: "right", width: 50 },
                     {
                         text: '操作', align: 'center', dataField: 'StationID', width: 50, cellsRenderer: function (row, column, value, rowData) {
                             var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
                             html += "<a  href='javascript:;' onclick='DeleteValue(\"" + value + "\"," + row + "  );'   >删除 </a> ";

                             html += "</div>";
                             return html;
                         }
                     }


                ]
            });
        });
    </script>
    <div class="TjSy">
        <div class="splitter-panel">
            <div class='jqxExpander'>
                <div class="leftPanel">
                    <h1> 需要推荐的商品</h1>
                </div>
                <div>
                    @HelperExtend.DropDownListClass("qryTjCategory", "商品分类", Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetChildCategory" }))
                    <input name="ProductName" width="200" class="input normal " id="ProductName" type="text" value="">
                    <input type="button" value="搜索" id='BtnqryCateTj' />
                    
                    <div style="margin-top: 5px;" id="dataTable"></div>

                </div>
            </div>
        </div>
        <div class="splitter-panel">
            <div class='jqxExpander'>
                <div class="rightPanel">
                    <h1>已添加的商品</h1>
                </div>
                <div>
                    <div style="margin-top: 5px;" id="HasAdddataTable"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="tab-content" style="display:none">

</div>
@section  scripts{


}
