@model SystemBrandInfo
@{
    ViewBag.Title = "编辑频道广告栏";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
@using Sharp.Common
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li> 
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


   
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())

    @Html.ValidationSummary()
    @HelperExtend.TextBox("Code", "编号", defaultval: Model.Code)
    @HelperExtend.TextBox("Name", "名称", defaultval: Model.Name )


    @HelperExtend.RadioGroup("BrandType", "位置", typeof(BrandType).GetEnumVal(), 
                  typeof(BrandType).GetEnumNamesStr(), defaultval: (int)Model.BrandType, hint: "") 
    @HelperExtend.ImageUpLoad("ID", "展示图片", Model.RecordStatus == Sharp.Common.StatusType.add, defaultval: Model.ID, maxLength: 1)
    
    @HelperExtend.RadioGroup("AppHandleTag", "APP处理标识", vals: "0,1,2,3,4,5",texts: "打开应用,打开网页,打开商品,打开新闻,打开活动,打开个人中心", defaultval: Model.AppHandleTag,
            hint: ",<br/>根据客户端和服务端双方协定的标识，来决定客户端接收到通知后该如何处理,常用如下：<br/>打开应用：打开客户端<br/>打开网页：打开处理内容里的网址<br/>打开商品：根据处理内容里的商品ID,打开商品详细页<br/>打开新闻：根据处理内容里的商品ID,打开新闻详细页<br/>打开活动：根据处理内容里的活动ID,打开团购或促销的详细页<br/>打开个人中心：打个个人中心")
    @HelperExtend.TextBox("ActionValue", "APP处理的内容", defaultval: Model.ActionValue, hint: "APP客户端接收到消息时要处理的实际内容，例如可能是一个链接或者商品等待，当是打开应用时，这里可以是空")
   
</div>
 
@section  scripts{
  
    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50
                    },
                    Name: {
                        required: true,
                        maxlength: 50
                    } 
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符")
                    }
                },
                errorPlacement: errorPlace
            });
        })
    </script>

     
}
