@model FunctionInfo
@{
    ViewBag.Title = "编辑功能菜单";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEdit.cshtml";
}

@Styles.Render("~/bundles/upimgcss")
@Scripts.Render("~/bundles/ueditor")
@Scripts.Render("~/bundles/uploadJs")

@using EasyCms.Model
<!--内容-->
<div id="floatHead" class="content-tab-wrap">
    <div class="content-tab">
        <div class="content-tab-ul-wrap">
            <ul>
                <li><a class="selected" href="javascript:;">基本信息</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="tab-content">


    @HelperExtend.HiddenFor("ID", Model.ID)
    @HelperExtend.HiddenFor("RecordStatus", Model.RecordStatus.ToString())




    @Html.ValidationSummary()


    @HelperExtend.HelpEdit("ParentID", "ParentName", "上级功能", defaultVal: Model.ParentID, defaultText: Model.ParentName, hint: "空为一级模块", dialogTitle: "选择上级功能", InnitFunc: "InnitFunc", onOk: "onOk", IsTree: true, DataControlID: "treeGrid")


    @HelperExtend.TextBox("Code", "编码", defaultval: Model.Code, hint: "")

    @HelperExtend.TextBox("Name", "名称", defaultval: Model.Name, hint: "")
    @HelperExtend.TextBox("ShowText", "窗口显示的名称", defaultval: Model.ShowText, hint: "")
    @HelperExtend.RadioGroup("FuncType", "功能类型 ", "0,1,2,3", "后台菜单,商城导航,API,其它", defaultval: Model.FuncType)
    @HelperExtend.ImageUpLoad("Image", "图标", Model.RecordStatus == Sharp.Common.StatusType.add, defaultval: Model.Image, maxLength: 1)
    @HelperExtend.RadioGroup("AccessType", "功能类型 ", "0,1,2,3,4,5", "层级模块,普通模块,MVC功能,API功能,URL功能,其它", defaultval: Model.AccessType)
    @HelperExtend.TextBox("URL", "网址", defaultval: Model.URL, hint: "")

    @HelperExtend.TextBox("CallArea", "域", defaultval: Model.CallArea, hint: "")
    @HelperExtend.TextBox("CallControler", "控制器", defaultval: Model.CallControler, hint: "")
    @HelperExtend.TextBox("CallAction", "动作", defaultval: Model.CallAction, hint: "")


    @HelperExtend.CheckBoxList("其他设置", "Enable,Visible,IsAnony,IsRecord,IsMust,IsMustNot,MultilInstance", "启用,可见,允许匿名,记录操作日志,必备功能,不在权限中展示,可多开", defaultval: new object[] { Model.Enable, Model.Visible, Model.IsAnony, Model.IsRecord, Model.IsMust, Model.IsMustNot, Model.MultilInstance }); 
    @HelperExtend.Number("OrderNo", "顺序", defaultval: Model.OrderNo, hint: "")
    @HelperExtend.TextArea("Description", "功能模块描述", defaultval: Model.Description, hint: "")

</div>

@section  scripts{


    <script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    "Code": {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Code").val(); },
                                IsCode: true
                            }
                        }
                    },
                    Name: {
                        required: true,
                        maxlength: 100,
                        remote: {
                            url: '@Url.Action("CheckRepeat")',
                            data: {
                                ID: function () { return $("#ID").val(); },
                                ParentID: function () { return $("#ParentID").val(); },
                                RecordStatus: function () { return $("#RecordStatus").val(); },
                                val: function () { return $("#Name").val(); },
                                IsCode: false
                            }
                        }
                    },
                    ClassTypeID: { required: true },
                    Note: {
                        maxlength: 500
                    }
                },
                messages: {
                    Code: {
                        required: "请输入编号",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符"),
                        remote: "同级分类下编号重复"
                    },
                    Name: {
                        required: "请输入名称",
                        maxlength: $.validator.format("名称长度不能大于{0}个字符"),
                        remote: "同级分类下名称重复"
                    }
                },
                errorPlacement: function (error, element) {

                    if (element.is(":radio"))
                        error.insertAfter($(element).parent());
                    else if (element.is(":checkbox"))
                        error.insertAfter($(element).parent());
                    else
                        error.insertAfter(element);
                }

            });
        })
    </script>

    <script type="text/javascript">

        function InnitFunc() {
            var source =
                        {
                            dataType: "json",
                            dataFields: [

               { name: 'ID', type: 'string' },

               { name: 'ParentID', type: 'string' },

               { name: 'Code', type: 'string' },

               { name: 'Name', type: 'string' },

               { name: 'AccessType', type: 'string' }
                            ],
                            timeout: 10000,
                            hierarchy:
                            {
                                keyDataField: { name: 'ID' },
                                parentDataField: { name: 'ParentID' }
                            },
                            id: 'ID',
                            root: 'Rows',
                            url: " @Url.Action("GetParentMoudle", "FunctionInfo", new { area = "Admin" })"
                        };
            var dataAdapter = new $.jqx.dataAdapter(source);


            $("#treeGrid").jqxTreeGrid(
                       {
                           width: "95%",
                           height: "95%",
                           source: dataAdapter,
                           columns: [
             { text: '编码', dataField: 'Code', type: 'string', width: 200 },
             { text: '名称', dataField: 'Name', type: 'string', width: 200 }
                           ]
                       });
        }
        function onOk(data) {
            if (data.length == 1) {

                if (data[0].AccessType < 2) {
                    $("#ParentName").val(data[0].Name);
                    $("#ParentID").val(data[0].ID);
                } else {

                    ErrorMsg("当前分类不能有下级分类");
                }

            } else { ErrorMsg("请选择一条数据"); }
        }

    </script>

    <script type="text/javascript">
        function selectVal(selectType) {
            $("#URL").closest("dl").show();
            $("#CallArea").closest("dl").show();
            $("#CallControler").closest("dl").show();
            $("#CallAction").closest("dl").show();
            /*"0,1,2,3,4,5", "层级模块,普通模块,MVC功能,API功能,URL功能,其它"*/
            switch (selectType) {
                case "0":
                case "1":
                case "5":
                    $("#URL").closest("dl").hide();
                    $("#CallArea").closest("dl").hide();
                    $("#CallControler").closest("dl").hide();
                    $("#CallAction").closest("dl").hide();
                    break;
                case "2":
                case "3":
                    if (!$("#CallArea").val()) {
                        if (selectType=="2") {
                            $("#CallArea").val("admin");
                        } else {
                            $("#CallArea").val("api");
                        }
                    }

                    $("#URL").closest("dl").hide();
                    break;
                case "4":
                    $("#CallArea").closest("dl").hide();
                    $("#CallControler").closest("dl").hide();
                    $("#CallAction").closest("dl").hide();
                    break;
                default:
                    break;

            }

        }
        function ChangeAccessType() {
            selectVal($("input[name='AccessType']:checked").val());
        }
        $(function () {
            $("input[name='AccessType']").closest(".multi-radio").find("a").on("click", function (d) {
                ChangeAccessType();

            })
            ChangeAccessType();

        });

    </script>
}
