@using EasyCms.Model
@using EasyCms
@using EasyCms.Business
@using EasyCms.Session
<div id='header'>
    <div class='main'>
        <ul class="fl topleft">
            <li><div class="xing"></div><a href="">您好@(CmsSession.GetUserName())，欢迎您来到@(CmsSessionExtend.WebSite.Name)购物！</a></li>
            @if (string.IsNullOrWhiteSpace(CmsSession.GetUserID()))
            {

                <li class="xuan">
                    <div class="erwei"></div>
                    <a href="@Url.Action("Login", "Account", new { area = string.Empty })" class="aa">
                        登录
                    </a>

                </li>
                <li>|</li>
                <li class="xuan">
                    <div class="erwei"></div>
                    <a href="@Url.Action("Regist", "Account", new { area = string.Empty })" class="aa">
                        注册
                    </a>

                </li>}
            else
            {
                <li class="xuan">
                    <div class="erwei"></div>
                    <a href="@Url.Action("LogOut", "Account", new { area = string.Empty })" class="aa">
                        退出
                    </a>

                </li>
            }
        </ul>

        <ul class="fr topright">
            <li class="guanzhu bj">
                <i class="ci-left"></i>
                <a href="#">关注@(CmsSessionExtend.WebSite.Name)</a>
                <i class="ci-right ">
                    <s class="jt">◇</s>
                </i>
                <div class="guanzhu1"><img src="@(CmsSessionExtend.WebSite.WeiXinImgUrl)"></div>
            </li>
            <li class="" style='padding-left:30px;padding-right: 5px;'>
                <i class="ci-left-cart"></i>
                <a href="@Url.Action("","card")">我的购物车</a>


            </li>
            <li class="guanzhu " style='padding-left:10px;'>
                <a href="@Url.Action("","help")">购物帮助</a>
            </li>
        </ul>
    </div>
</div>
<div id='top-banner' style='display: none;'>
    <div class="top-ba" style='width:1210px;margin: 0 auto;'>



    </div>

</div>
<div id='search-wrap'>
    <div class="logo"><a href="@Url.Action("", "")"><img src="@(CmsSessionExtend.WebSite.LogoUrl)" width="210" height="83"></a></div>
    <div class="search">
        <input type="text" value="" class="text" id="searchText">
        <button class="button" id="btnSearch">搜索</button>
    </div>
    <script type="text/javascript">
        $(function () {

            $("#btnSearch").click(function () {

                var url = "@Url.Action("index", "search")";
                var searchText = $("#searchText").val();
                if (searchText) {
                    window.location = url + "/" + searchText;
                }

            });
        });
    </script>
    <div style="float: right;">
        @{
            AdManage ad400 = new AdManageBll().GetOnAdByPosition("14");
            <img src="@ad400.AdImgUrl">

        }
    </div>
    <div class="hotwords">
        @{
            string[] keylist = new SearchKeyWordBll().GetKeyList(true);
            foreach (var item in keylist)
            {
                <a href="@Url.Action("index","search",new { id=item})">@item</a>
            }

        }
    </div>
    <span class="clr"></span>
</div>
<div id='focus'>
    <div id='topnav' class="topnav" style="">

        <div class="nav" style="float: left; position:absolute; z-index: 10; width: 210px;">
            <div class="allcat">
                <a target="_blank" href="@Url.Action("","SiteMap")">全部商品分类</a>
@if (ViewBag.IsStaticNav == null || string.IsNullOrWhiteSpace(ViewBag.IsStaticNav as string))
{
                @:<i class="ci-right"><s>◇</s></i>
}

            </div>
            @if (ViewBag.IsStaticNav == null || string.IsNullOrWhiteSpace(ViewBag.IsStaticNav as string))
            {
                @:<div class="dd">
           }

            <div class="dd-inner">
                @{
                    List<ShopCategory> list = new EasyCms.Business.ShopCategoryBll().GetListWithNavi(null, 3);
                    IEnumerable<ShopCategory> first = list.Where(p => p.Depth == 0);
                    Dictionary<string, List<ShopCategory>> GroupNum = new Dictionary<string, List<ShopCategory>>();
                    int index = 0;
                    foreach (var item in first)
                    {
                        index++;
                        if (string.IsNullOrWhiteSpace(item.GroupNo))
                        {

                        <div class="@(index == 1?"font-item":"fore-" + index)">

                            <div class="item @("fore"+index)">
                                <h3>
                                    @if (item.HasIndex)
                                            {
                                <a href="@(string.Format(item.IndexUrl, item.ID))">@item.Name</a>
                                            }
                                            else
                                            {
                                <a href="@Url.Action("index", "Category",new { id=item.ID})">@item.Name</a>
                                            }
                                </h3>
                                <i>&gt;</i>
                            </div>
                            <div class="font-item1">
                                <div class="font-lefty">
                                    @{
                                                IEnumerable<ShopCategory> second = list.Where(p => p.ParentID == item.ID);
                                                foreach (var secondItem in second)
                                                {
                                <dl class="fore1">
                                    <dt>
                                        @if (secondItem.HasIndex)
                                                            {
                                                    <a href="@(string.Format(secondItem.IndexUrl, secondItem.ID))">@secondItem.Name <i>&gt;</i></a>
                                                            }
                                                            else
                                                            {
                                                    <a href="@Url.Action("index", "Category",new { id=secondItem.ID})">@secondItem.Name <i>&gt;</i></a>
                                                            }
                                    <dd>
                                        @{
                                                                IEnumerable<ShopCategory> third = list.Where(p => p.ParentID == secondItem.ID);
                                                                foreach (var thirdItem in third)
                                                                {

                                                                    if (thirdItem.HasIndex)
                                                                    {
                                                    <a href="@(string.Format(thirdItem.IndexUrl, thirdItem.ID))">@thirdItem.Name</a>
                                                                    }
                                                                    else
                                                                    {
                                                    <a href="@Url.Action("index", "Category",new { id=thirdItem.ID})">@thirdItem.Name</a>
                                                                    }
                                                                }
                                        }

                                    </dd>
                                </dl>
                                                                }
                                    }
                                </div>
                            </div>

                        </div>
                                                                    }
                                                                    else if (GroupNum[item.GroupNo].Count > 1)
                                                                    {

                                                                    }
                                                                }

                }

            </div>
            @if (ViewBag.IsStaticNav == null || string.IsNullOrWhiteSpace(ViewBag.IsStaticNav as string))
            {
                @:  </div>
                    }
        </div>



        <div class="focus-b">
            <ul>
                <li><a href="@Url.Action("", "")">首页</a></li>
                @{

                    //获取导航菜单
                    List<FunctionInfo> funcList = new FunctionInfoBll().GetNavigation();
                    foreach (FunctionInfo item in funcList)
                    {
                        string url = "#";
                        switch (item.AccessType)
                        {


                            case AccessType.MVC功能:
                                url = Url.Action(item.CallAction, item.CallControler, new { area = item.CallArea });
                                break;
                            case AccessType.URL功能:
                                url = item.URL;
                                break;
                            case AccessType.层级模块:
                            case AccessType.普通模块:
                            case AccessType.API功能:
                            case AccessType.其它:
                            default:
                                break;
                        }
                        
                        <li><a href="@url">@item.Name</a></li>
                    }

                }
            </ul>
        </div>

    </div>
</div>
