@model RecomandModel
@using EasyCms.Model.ViewModel
<div id="view-buy">
    <div class="mt">
        <h2>
            @Model.Title
        </h2>
    </div>
    <div class="mc">
        <ul>
            @if (Model.DataList != null)
            {


                foreach (ListProduct item in Model.DataList)
                {
                    <li class="fore1">
                        <div class="p-img">
                            <a target="_blank" href="@Url.Action("Index","Product",new { id=item.ID})">
                                <img height="100" width="100" src="@item.FilePath" class="">
                            </a>
                        </div>
                        <div class="p-name">
                            <a target="_blank" href="@Url.Action("Index","Product",new { id=item.ID})">
                                @item.Name
                            </a>
                        </div>
                        <div class="p-price">
                            <strong class="J-p-1777837">￥@item.SalePrice</strong>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>