@{
    ViewBag.Title = "系统角色分配";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using EasyCms.Model
<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="javascript:;" onclick="addRolePerson();"><i></i><span>添加人员</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<div class="tab-content" style=" padding:0px">

    <script type="text/javascript">
        function addRolePerson() {
            var id = $("#RoleID").val();
            if (!id) {
                ErrorMsg("请选择要分配的角色");
            } else {
                Dialog.open("@Url.Action("AddRolePerson")/" + id, "添加人员", { onClose: function () { $('#treeGrid').jqxGrid('updatebounddata'); } }, { width: 800, height: 800 });
            }
        }
        $(function () {
            $('.TjSy').jqxSplitter({ width: '100%', height: 480, panels: [{ size: '20%' }] });
            $(".jqxExpander").jqxExpander({ width: '100%', height: 480, showArrow: false });
        });

        $(function () {
            var url = "@Url.Action("GetRoleOrMemberOrderList","FunctionRight")";
            var datafields = [{ name: 'ID' }, { name: 'Code' }, { name: 'Name' }];
            var columns = [
                    { text: '编号', dataField: 'Code', cellsalign: "left" },
                      {
                          text: '名称', dataField: 'Name', cellsalign: "left"
                      }];
            CreateGrid("jqxgrid", url, datafields, columns, {
                adapter: {
                    formatData: function (data) {
                        data.id = 0;
                    }
                }
            });
            var url = "@Url.Action("GetRolePersonList")";
            var deleteUrl = "@Url.Action("Delete")";
            var datafields = [{ name: 'ID' }, { name: 'Code' }, { name: 'Name' }];
            var columns = [
   { text: '管理员账号', dataField: 'Code', cellsalign: "left" },
{ text: '管理员姓名', dataField: 'Name', cellsalign: "left" },
  {
      text: '操作', datafield: 'ID', width: 200, cellsrenderer: function (row, column, value) {

          var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
          html +=
          "<a  href='javascript:;' onclick='DelGrid(\"jqxgrid\",\"" + deleteUrl + "\",\"" + value + "\");'  >移除人员</a>";
          html += "</div>";
          return html;
      }
  }];
            CreateGrid("treeGrid", url, datafields, columns, {
                adapter: {
                    formatData: function (data) {
                       
                        data.roleID = $("#RoleID").val();
                    }
                }
            });
        });



    </script>
    <script>
        var isAutoSelect = true;
        $(function () {

            $('#jqxgrid').on('rowselect', function (event) {
                var args = event.args;
                var rowData = args.row;
                $("#RoleID").val(rowData.ID);
                $(".rightPanel").find("h1").text("【" + rowData.Name + "】角色所属人员");
                $("#treeGrid").jqxGrid('updateBoundData');
            });
            Dialog.create("@Url.Content("~/Content/Images/movie.png")");
           
            $("#treeGrid").on("bindingComplete", function (event) {
                if (isAutoSelect) {
                    isAutoSelect = false;
                    var rows = $('#jqxgrid').jqxGrid('getrows')
                    if (rows.length > 0) {
                        $('#jqxgrid').jqxGrid('selectrow', 0);
                    }
                }
            });
        });


    </script>
    <div class="TjSy">
        <div class="splitter-panel">
            <div class='jqxExpander'>
                <div class="leftPanel">
                    <h1>角色</h1>
                </div>
                <div>
                    <input type="hidden" id="RoleID" value="@ViewBag.RoleID" />
                    <div style="margin-top: 1px;" id="jqxgrid"></div>

                </div>
            </div>
        </div>
        <div class="splitter-panel">
            <div class='jqxExpander'>
                <div class="rightPanel">
                    <h1>所属角色人员</h1>
                </div>
                <div>
                    <div style="margin-top: 1px;" id="treeGrid"></div>
                </div>
            </div>
        </div>

    </div>

</div>
