@using MVCExtention;
@{
    ViewBag.Title = "订单管理";
}
 


<dl>
    <dt>

    </dt>
    <dd>
        <table width="100%" class="borderkuang" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td rowspan="3" width="80">
                        @HelperExtend.img("icon-1.gif", "width:19px,height:19px")搜索：
                    </td>
                    <td width="60">
                        订单编号：
                    </td>
                    <td width="220">
                        <input type="text" id="OrderNo">
                    </td>
                    <td width="60">
                        电话：
                    </td>
                    <td width="220">
                        <input type="text" id="ShrTel">
                    </td>
                    <td width="60">
                        收货姓名：
                    </td>
                    <td width="150">
                        <input type="text" id="ShrMc">
                    </td>


                    <td></td>

                </tr>

                <tr>
                    <td>
                        会员账号：
                    </td>
                    <td>
                        <input type="text" id="AccountName">
                    </td>
                    <td>
                        开始日期：
                    </td>
                    <td>

                        <div id='StartOrderDate'>  </div>

                    </td>
                    <td width="10">
                        截止日期

                    </td>
                    <td>

                        <div id='EndOrderDate'>  </div>

                    </td>
                    <td></td>
                </tr>
                <tr>

                    <td>付款状态：</td>
                    <td height="35">
                        @HelperExtend.DropDownListEnum("PayStatus", enumType: typeof(EasyCms.Model.PayStatus))


                    </td>
                    <td> 发货状态：</td>
                    <td>
                        @HelperExtend.DropDownListEnum("ShipStatus", enumType: typeof(EasyCms.Model.ShipStatus))


                    </td>
                    <td>订单状态：</td>
                    <td>

                        @HelperExtend.DropDownListEnum("OrderStatus", enumType: typeof(EasyCms.Model.QryOrderStatus))
                    </td>
                    <td colspan="2">
                        <input id="btnQry" type="button" value="搜索">
                    </td>

                </tr>
            </tbody>
        </table>
    </dd>
</dl>
<!--工具栏-->

<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="javascript:;" onclick="OneOper(0);"><i></i><span>查看</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(2, '发货');"><i></i><span>发货</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(3,  '签收');"><i></i><span>签收</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="Publish(13,   '拒收');"><i></i><span>拒收</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="Publish(99,  '作废');"><i></i><span>作废</span></a></li>
                    <li><a class="expandable" href="javascript:;" onclick="exportOrder();"><i></i><span>导出</span></a></li>

                </ul>
            </div>
        </div>
    </div>

</div>
<div class="content-tab">
    <div class="content-tab-ul-wrap">
        <ul>
            <li><a class="selected" href="javascript:;">近三个月订单</a></li>
            <li><a href="javascript:;">等待付款</a></li>
            <li><a href="javascript:;">等待付款确认</a></li>
            <li><a href="javascript:;">等待处理</a></li>
            <li><a href="javascript:;">已发货</a></li>
            <li><a href="javascript:;">取消订单</a></li>
            <li><a href="javascript:;">已完成</a></li>
        </ul>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid">
    </div>
</div>

 <a id="file"></a>
<!--/列表-->
@section  scripts{
    <script type="text/javascript">
        function exportOrder() {
            var data = {};
            data.OrderNo = $("#OrderNo").val();
            data.ShrTel = $("#ShrTel").val();
            data.ShrMc = $("#ShrMc").val();
            data.AccountName = $("#AccountName").val();
            data.StartOrderDate = $("#StartOrderDate").val();
            data.EndOrderDate = $("#EndOrderDate").val();
            data.PayStatus = $("#PayStatus").val();
            data.ShipStatus = $("#ShipStatus").val();
            data.OrderStatus = $("#OrderStatus").val();
            $.ajax( {cache: false,
                    url: "@Url.Action("Export")",
                    data: data,
                    success: function (result) {
                        window.location ="@Url.Action("GetFile", "SysExportSet")" + "?filePath=" + result.data;   }  }    );

        }
        $(function () {

            Dialog.create("@Url.Content("~/Content/Images/movie.png")");
        });

        function OneOper(action, id) {
            var operName = "";

            switch (action) {
                case 0:
                    operName = "查看"; break;
                case 1:
                    operName = "修改"; break;
                default:
                    return;
            }
            if (!id) {
                var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindex');

                if (rowindexes < 0) {
                    ErrorMsg("请选择要操作的退货单");
                    return;
                }
                var d = $('#jqxgrid').jqxGrid('getrowdata', rowindexes);
                id = d.ID;
            }
            var title = "正在" + operName + "订单【" + id + "】的详细信息";

            Dialog.open("@Url.Action("Edit")/" + id + "/" + action, title, {
                onClose: function () {
                    if (GetThisDialogState()) {
                        $('#jqxgrid').jqxGrid('updatebounddata');
                    }
                }
            }, { width: 850, height: 580 });

        }
        function Publish(action, title) {
            var rowindexes = $('#jqxgrid').jqxGrid('getselectedrowindexes');

            if (rowindexes.length == 0) {
                ErrorMsg("请选择要操作的订单");
                return;
            }
            var id = "";
            var i = 0;
            for (var i in rowindexes) {

                var d = $('#jqxgrid').jqxGrid('getrowdata', rowindexes[i]);
                if (i > 0) {
                    id += ",";
                }
                id += d.ID;
                i++;
            }

            Dialog.open("@Url.Action("PublishToWl")/" + action + "/" + id, title, {
                onClose: function () {
                    if (GetThisDialogState()) {
                        $('#jqxgrid').jqxGrid('updatebounddata');
                    }
                }
            }, { width: 800, height: 550 });

        }
    </script>
    <script type="text/javascript">

        $(function () {

            $(".content-tab-ul-wrap ul li").click(function () {
                $("#PayStatus").jqxDropDownList('uncheckAll');
                $("#ShipStatus").jqxDropDownList('uncheckAll');
                $("#OrderStatus").jqxDropDownList('uncheckAll');
                $("#OrderNo").val("");
                $("#ShrMc").val("");
                $("#AccountName").val("");
                $("#StartOrderDate").val("");
                $("#EndOrderDate").val("");
                var selectType = $(this).index();
                switch (selectType) {
                    case 0://近三个月订单
                        $('#EndOrderDate').jqxDateTimeInput('setDate', new Date());
                        $('#StartOrderDate').jqxDateTimeInput('setDate', get3MonthBefor());
                        break;
                    case 1://等待付款

                        $("#OrderStatus").jqxDropDownList('checkIndex', 1);
                        break;
                    case 2://等待付款确认
                        $("#OrderStatus").jqxDropDownList('checkIndex', 2);
                        break;
                    case 3://等待处理
                        $("#OrderStatus").jqxDropDownList('checkIndex', 3);

                        break;
                    case 4://已发货
                        $("#OrderStatus").jqxDropDownList('checkIndex', 4);

                        break;
                    case 5://取消订单
                        $("#OrderStatus").jqxDropDownList('checkIndex', 6);

                        break;
                    case 6://已完成
                        $("#OrderStatus").jqxDropDownList('checkIndex', 7);
                        break;
                }
                $('#jqxgrid').jqxGrid('updatebounddata');
            });
            $("#OrderNo").jqxInput({ height: '20px' });
            $("#ShrTel").jqxInput({ height: '20px' });
            $("#ShrMc").jqxInput({ height: '20px' });
            $("#AccountName").jqxInput({ height: '20px' });

            $("#StartOrderDate").jqxDateTimeInput({ formatString: "yyyy-MM-dd", width: 100, height: '20px', showCalendarButton: true });
            $("#EndOrderDate").jqxDateTimeInput({ formatString: "yyyy-MM-dd", width: 100, height: '20px', showCalendarButton: true });


            $('#EndOrderDate').jqxDateTimeInput('setDate', new Date());
            $('#StartOrderDate').jqxDateTimeInput('setDate', get3MonthBefor());
            $("#btnQry").jqxButton({ width: '150', template: 'success' });


            $("#btnQry").on("click", function () { $('#jqxgrid').jqxGrid('updatebounddata'); });

        });


    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            var url = "@Url.Action("GetList")";
            var datafields = [{ name: 'ID' },
		{ name: 'OrderType' }, { name: 'OrderResId' }, { name: 'ParentID' }, { name: 'HasChildren' }, { name: 'MemberID' }, { name: 'MemberName' }, { name: 'MemberEmail' }, { name: 'MemberCallPhone' }, { name: 'RegionID' }, { name: 'ShipRegion' },

		{ name: 'ShipAddress' }, { name: 'ShipZip' }, { name: 'ShipName' }, { name: 'ShipTel' }, { name: 'ShipEmail' }, { name: 'ShipModeID' }, { name: 'ShipModeName' }, { name: 'PayTypeID' }, { name: 'PayTypeName' }, { name: 'PayTypeGateWay' },

		{ name: 'ExpressCompanyID' }, { name: 'ExpressCompanyName' }, { name: 'ShipOrderNum' }, { name: 'IsFreeShiping' },

		{ name: 'Freight' }, { name: 'FreightAdjust' }, { name: 'FreightActual' }, { name: 'Weight' },

		{ name: 'CostPrice' }, { name: 'Discount' }, { name: 'TotalPrice' },

		{ name: 'PayMoney' }, { name: 'Remark' }, { name: 'OrderPoint' }, { name: 'ShipStatus' },

		{ name: 'PayStatus' }, { name: 'OrderStatus' }, { name: 'HasReturn' }, { name: 'ReturnMoney' },

		{ name: 'RefundStatus' }, { name: 'IsInvoice' }, { name: 'InvoiceInfo' },

		{ name: 'SellerID' }, { name: 'SellerName' }, { name: 'SellerEmail' },

		{ name: 'SellerPhone' }, { name: 'SupplierID' }, { name: 'SupplierName' },

		{ name: 'OrderIP' }, { name: 'CommentStatus' }, { name: 'DeliveryTime' },

		{ name: 'SpecifiedDate' }, { name: 'ExportCount' }, { name: 'CreateDate', type: 'date' },

		{ name: 'UpdateDate', type: "date" }, { name: 'HasDelete' }, { name: 'ClientType' },

		{ name: 'InvoiceNote' }];
            var columns = [
                {
                    text: '操作', cellsrenderer: function (row, column, value, html, colInfo, rowData) {
                        var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
                        html += "<a href='javascript:;' onclick='OneOper(1,\"" + rowData.ID + "\");'  >修改</a> ";
                        html += "</div>";
                        return html;
                    }
                },
                    {
                        text: '订单号', width: 120, dataField: 'ID', cellsrenderer: function (row, column, value) {


                            var html = "  <div style='text-align: center; overflow: hidden; padding-bottom: 2px; margin-top: 4px; text-overflow: ellipsis;'>";
                            html += "<a href='javascript:;' onclick='OneOper(0,\"" + value + "\");'  >" + value + "</a> ";
                            html += "</div>";
                            return html;
                        }
                    },

     { text: '收件人', dataField: 'ShipName', width: 80 },
  { text: '收件电话', dataField: 'ShipTel', width: 100 },
    { text: '总价格', dataField: 'TotalPrice', cellsalign: "right", width: 80 },
  { text: '付款状态', dataField: 'PayStatus', width: 80,@HelperExtend.ParseEnum(typeof(EasyCms.Model.PayStatus)) },
  { text: '订单状态', dataField: 'OrderStatus', width: 80,@HelperExtend.ParseEnum(typeof(EasyCms.Model.OrderStatus)) },


  { text: '地区', dataField: 'ShipRegion', width: 150 },
  { text: '付款方式', dataField: 'PayTypeName', width: 100 },

  { text: '快递公司', dataField: 'ExpressCompanyName', width: 100 },

  { text: '运单号', dataField: 'ShipOrderNum', width: 100 },


  { text: '导出次数', dataField: 'ExportCount', cellsalign: "right", width: 80 },
  { text: '创建日期', dataField: 'CreateDate', width: 120, cellsformat: "yyyy-MM-dd HH:mm" },
    { text: '发票抬头', dataField: 'InvoiceInfo' },
      { text: '发票说明', dataField: 'InvoiceNote' },
             { text: '会员姓名', dataField: 'MemberName', width: 100 },

  { text: '会员电话', dataField: 'MemberCallPhone', width: 100 }];

            CreateGrid("jqxgrid", url, datafields, columns, {
                isMutilSelect: true, grid: { pagesize: 10 }, adapter: {
                    formatData: function (data) {


                        data.OrderNo = $("#OrderNo").val();
                        data.ShrTel = $("#ShrTel").val();
                        data.ShrMc = $("#ShrMc").val();

                        data.AccountName = $("#AccountName").val();

                        data.StartOrderDate = $("#StartOrderDate").val();

                        data.EndOrderDate = $("#EndOrderDate").val();

                        data.PayStatus = $("#PayStatus").val();

                        data.ShipStatus = $("#ShipStatus").val();

                        data.OrderStatus = $("#OrderStatus").val();


                    } 
                } 
            });

        });
    </script>
}
