@model ShopConsult
@{
    ViewBag.Title = "商品咨询";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEditNoForm.cshtml";
} 
@using EasyCms.Model
<!--内容-->
@using (Html.BeginForm("Save", null))
{
    @Html.Hidden("SubmitActionType") 
    @HelperExtend.HiddenFor("ID", Model.ID) 
    @HelperExtend.HiddenFor("ReplyID", Model.CurrentShopConsult == null ? "" : Model.CurrentShopConsult.ID)

    <div class="tab-content">
        @Html.ValidationSummary() 
       


        @HelperExtend.Lable(HelperExtend.img(Model.ProductImg) + " <br />" + Model.ProductName, "商品")
        @HelperExtend.Lable(Model.ConsoltTypeName, "咨询类型" )
      @HelperExtend.Lable(Model.UserName,"咨询人"  ) 
        @HelperExtend.Lable(Model.ReviewText, "咨询内容")
        @HelperExtend.Lable(Model.CreatedDate.ToString("yyyy-MM-dd HH:mm"), "咨询时间")
        @HelperExtend.Lable(Model.Status.ToString(), "咨询状态")

        
        @HelperExtend.Lable(Model.LastReply, "之前答复")
        @HelperExtend.TextArea("ReviewText", "回复", Model.CurrentShopConsult== null ? "" : Model.CurrentShopConsult.ReviewText, col: 100)

    </div>
    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap"> 
            <input type="submit" onclick="return  $('form').validate();" value="答复" class="btn" />
            <input type="submit" onclick="$('#SubmitActionType').val(0)" value="屏蔽" class="btn" />

            <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
        </div>
    </div>
    <!--/工具栏-->

}


@section  scripts{

<script type="text/javascript">

        $(function () {


            //初始化表单验证
            $("form").validate({
                ignore: "",
                rules: {
                    ReviewText: {
                        required: true,
                        maxlength: 500 
                    }  
                },
                messages: {
                    ReviewText: {
                        required: "请输入回复内容",
                        maxlength: $.validator.format("编号长度不能大于{0}个字符") 
                    } 
                },
       errorPlacement: errorPlace
            });
        })
</script>


     

    
}
